{
    "openapi": "3.0.1",
    "info": {
        "title": "AODocs REST API",
        "description": "The AODocs REST API exposes most of the features of AODocs. It can be used to implement custom applications, third-party integration, bulk tools, or just to experiment with AODocs.",
        "version": "68.1.0"
    },
    "servers": [
        {
            "url": "https://aodocs.altirnao.com/api"
        }
    ],
    "tags": [
        {
            "name": "documentType",
            "description": "Lets you manipulate existing document classes (beta version, subject to change)"
        }
    ],
    "paths": {
        "/documentType/v1/libraries/{libId}/documentTypes/{documentTypeId}": {
            "get": {
                "tags": [
                    "documentType"
                ],
                "description": "Gets the configuration of a document class.",
                "operationId": "documentType:v1beta1.DocumentType.loadClass",
                "parameters": [
                    {
                        "name": "libId",
                        "in": "path",
                        "description": "The ID of the library",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "documentTypeId",
                        "in": "path",
                        "description": "The ID of the document class",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "description": "Include additional information in the document class. Available value: TEMPLATES",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "TEMPLATES"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiDocumentType response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiDocumentType"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "documentType"
                ],
                "description": "Updates a document class configuration (reset not specified fields).",
                "operationId": "documentType:v1beta1.DocumentType.updateClass",
                "parameters": [
                    {
                        "name": "libId",
                        "in": "path",
                        "description": "The ID of the library",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "documentTypeId",
                        "in": "path",
                        "description": "The ID of the document class",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "resetInvalidTemplateValues",
                        "in": "query",
                        "description": "Whether to reset the values of invalid properties in document templates of the class",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiDocumentType"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A ApiDocumentType response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiDocumentType"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiDocumentType"
            },
            "delete": {
                "tags": [
                    "documentType"
                ],
                "description": "Deletes a document class.",
                "operationId": "documentType:v1beta1.DocumentType.deleteClass",
                "parameters": [
                    {
                        "name": "libId",
                        "in": "path",
                        "description": "The ID of the library",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "documentTypeId",
                        "in": "path",
                        "description": "The ID of the document class",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "A successful response",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "documentType"
                ],
                "description": "Updates a document class configuration (keep existing values for not specified fields).",
                "operationId": "documentType:v1beta1.DocumentType.patchClass",
                "parameters": [
                    {
                        "name": "libId",
                        "in": "path",
                        "description": "The ID of the library",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "documentTypeId",
                        "in": "path",
                        "description": "The ID of the document class",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "resetInvalidTemplateValues",
                        "in": "query",
                        "description": "Whether to reset the values of invalid properties in document templates of the class",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiDocumentType"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A ApiDocumentType response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiDocumentType"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiDocumentType"
            }
        },
        "/documentType/v1/libraries/{libraryId}": {
            "get": {
                "tags": [
                    "documentType"
                ],
                "description": "Lists the ID/name of the document classes in a library.",
                "operationId": "documentType:v1beta1.DocumentType.listClasses",
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "path",
                        "description": "The ID of the library",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "viewId",
                        "in": "query",
                        "description": "The ID of the view",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "description": "Include additional information in the document class. Available value: TEMPLATES",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "TEMPLATES"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiDocumentTypeList response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiDocumentTypeList"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/documentType/v1/libraries/{library}/documentTypes": {
            "post": {
                "tags": [
                    "documentType"
                ],
                "description": "Creates a new document class in the library.",
                "operationId": "documentType:v1beta1.DocumentType.insertClass",
                "parameters": [
                    {
                        "name": "library",
                        "in": "path",
                        "description": "The ID of the library",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiDocumentType"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A ApiDocumentType response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiDocumentType"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiDocumentType"
            }
        },
        "/documentType/v1beta1/libraries/{libId}/documentTypes/{documentTypeId}/templateDocuments": {
            "get": {
                "tags": [
                    "documentType"
                ],
                "description": "Lists the full content of the document templates of the given class in the library.",
                "operationId": "documentType:v1beta1.TemplateDocuments.list",
                "parameters": [
                    {
                        "name": "libId",
                        "in": "path",
                        "description": "The ID of the library",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "documentTypeId",
                        "in": "path",
                        "description": "The ID of the document class",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiTemplateDocumentList response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiTemplateDocumentList"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "documentType"
                ],
                "description": "Creates a new document template of a class in the library.",
                "operationId": "documentType:v1beta1.TemplateDocuments.create",
                "parameters": [
                    {
                        "name": "libId",
                        "in": "path",
                        "description": "The ID of the library",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "documentTypeId",
                        "in": "path",
                        "description": "The ID of the document class",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiTemplateDocument"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A ApiTemplateDocument response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiTemplateDocument"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiTemplateDocument"
            }
        },
        "/documentType/v1beta1/libraries/{libId}/documentTypes/{documentTypeId}/templateDocuments/{templateDocumentId}": {
            "get": {
                "tags": [
                    "documentType"
                ],
                "description": "Gets the configuration of a document template.",
                "operationId": "documentType:v1beta1.TemplateDocuments.get",
                "parameters": [
                    {
                        "name": "libId",
                        "in": "path",
                        "description": "The ID of the library",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "documentTypeId",
                        "in": "path",
                        "description": "The ID of the document class",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "templateDocumentId",
                        "in": "path",
                        "description": "The ID of the document template",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiTemplateDocument response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiTemplateDocument"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "documentType"
                ],
                "description": "Deletes a document template.",
                "operationId": "documentType:v1beta1.TemplateDocuments.delete",
                "parameters": [
                    {
                        "name": "libId",
                        "in": "path",
                        "description": "The ID of the library",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "documentTypeId",
                        "in": "path",
                        "description": "The ID of the document class",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "templateDocumentId",
                        "in": "path",
                        "description": "The ID of the document template",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "A successful response",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "documentType"
                ],
                "description": "Updates a document template configuration.",
                "operationId": "documentType:v1beta1.TemplateDocuments.patch",
                "parameters": [
                    {
                        "name": "libId",
                        "in": "path",
                        "description": "The ID of the library",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "documentTypeId",
                        "in": "path",
                        "description": "The ID of the document class",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "templateDocumentId",
                        "in": "path",
                        "description": "The ID of the document template",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiTemplateDocument"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A ApiTemplateDocument response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiTemplateDocument"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiTemplateDocument"
            }
        }
    },
    "components": {
        "schemas": {
            "ApiAppMetadataTag": {
                "type": "object",
                "properties": {
                    "kind": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the tag"
                    },
                    "stringValue": {
                        "type": "string",
                        "description": "The value of the tag as a String"
                    }
                }
            },
            "ApiAttachment": {
                "type": "object",
                "properties": {
                    "autodeskUrn": {
                        "$ref": "#/components/schemas/ApiAutodeskUrn"
                    },
                    "fileId": {
                        "type": "string",
                        "description": "The ID the file in Drive"
                    },
                    "iconLink": {
                        "type": "string",
                        "description": "The URL of the icon of the file"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "link": {
                        "type": "string",
                        "description": "The URL to the file in Drive (read-only)"
                    },
                    "mimeType": {
                        "type": "string",
                        "description": "The MIME type of the file"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name (title) of the file"
                    },
                    "permissionsOnDrive": {
                        "type": "array",
                        "description": "The list of permissions set in Drive for the file",
                        "items": {
                            "$ref": "#/components/schemas/ApiDrivePermission"
                        }
                    },
                    "publishedLink": {
                        "type": "string",
                        "description": "The URL of the file when published"
                    },
                    "resourceKey": {
                        "type": "string",
                        "description": "A file that is shared with the link may only be discovered with this resourceKey"
                    },
                    "revisionId": {
                        "type": "string",
                        "description": "The ID of the revision of the file in Drive"
                    },
                    "size": {
                        "type": "integer",
                        "description": "The size (in octet) of the file",
                        "format": "int64"
                    },
                    "storageLocation": {
                        "type": "string",
                        "description": "The storage location of the file. Possible values are 'DRIVE' and 'OSS' (read-only)",
                        "enum": [
                            "DRIVE",
                            "OSS"
                        ]
                    }
                }
            },
            "ApiAttachmentCreationModeSetting": {
                "type": "object",
                "properties": {
                    "enabled": {
                        "type": "boolean",
                        "description": "Whether this attachment creation mode should be possible for this document class"
                    },
                    "mustBeEnabled": {
                        "type": "boolean",
                        "description": "Whether this attachment creation mode must be enabled or can be disabled according to library type and settings (read-only)"
                    }
                }
            },
            "ApiAttachmentMetadata": {
                "type": "object",
                "properties": {
                    "drive": {
                        "$ref": "#/components/schemas/ApiDriveAttachmentMetadata"
                    },
                    "id": {
                        "type": "string",
                        "description": "The ID the file as used on the storage type"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "mimeType": {
                        "type": "string",
                        "description": "The MIME type of the file"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name (title) of the file"
                    },
                    "oss": {
                        "$ref": "#/components/schemas/ApiOssAttachmentMetadata"
                    },
                    "size": {
                        "type": "integer",
                        "description": "The size (in octet) of the file",
                        "format": "int64"
                    },
                    "storageType": {
                        "type": "string",
                        "description": "Where is the file stored? Either DRIVE (Google Drive), or OSS (AODocs Object Storage System)",
                        "enum": [
                            "OSS",
                            "DRIVE"
                        ]
                    }
                }
            },
            "ApiAutodeskUrn": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "enum": [
                            "READY",
                            "IN_PROGRESS",
                            "FAILED"
                        ]
                    },
                    "urn": {
                        "type": "string"
                    }
                }
            },
            "ApiBaseUserProfile": {
                "type": "object",
                "properties": {
                    "email": {
                        "type": "string",
                        "description": "The email of the user"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string",
                        "description": "The displayed name of the user"
                    },
                    "nonGoogle": {
                        "type": "boolean",
                        "description": "This user is not a google user"
                    },
                    "thumbnailPictureUrl": {
                        "type": "string",
                        "description": "The URL of the thumbnail picture of the user"
                    }
                }
            },
            "ApiCalculatedSettingConfiguration": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "JavaScript expression in charge of generating the actual value of the setting (ECMAScript 2020)"
                    },
                    "fallbackValues": {
                        "type": "array",
                        "description": "Fallback value(s) used when there was evaluation error on the calculated setting",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "ApiCalculatedSettingsInfo": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "boolean",
                        "description": "Indicates whether the evaluation of the setting terminated on error (read-only)"
                    },
                    "errorMessage": {
                        "type": "string",
                        "description": "If the evaluation terminated on error, indicates the error message (read-only)"
                    }
                }
            },
            "ApiCalculatedValueConfiguration": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "JavaScript expression in charge of generating document field values (ECMAScript 2020)"
                    }
                }
            },
            "ApiCategory": {
                "type": "object",
                "properties": {
                    "calculatedSettingsInfo": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/ApiCalculatedSettingsInfo"
                        },
                        "description": "Information about the result of evaluation of calculated settings (read-only)"
                    },
                    "calculatedValueInfo": {
                        "$ref": "#/components/schemas/ApiFieldValuesInfo"
                    },
                    "categoryDefinition": {
                        "$ref": "#/components/schemas/ApiCategoryDefinition"
                    },
                    "definitionId": {
                        "type": "string",
                        "description": "(Deprecated) The ID of the category"
                    },
                    "definitionName": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string",
                        "description": "The description of the field (read-only)"
                    },
                    "description_i18n": {
                        "type": "string",
                        "description": "The internationalized description of the field (read-only)"
                    },
                    "dynamicValues": {
                        "type": "boolean"
                    },
                    "editable": {
                        "type": "boolean",
                        "description": "Whether the field is editable by the current user"
                    },
                    "fieldId": {
                        "type": "string",
                        "description": "The ID of the field"
                    },
                    "fieldName": {
                        "type": "string",
                        "description": "The name of the field"
                    },
                    "fieldName_i18n": {
                        "type": "string",
                        "description": "The internationalized name of the field (read-only)"
                    },
                    "folder": {
                        "type": "boolean"
                    },
                    "hidden": {
                        "type": "boolean",
                        "description": "Whether the field is hidden to the user user"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "levelNames": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "mandatory": {
                        "type": "boolean",
                        "description": "Whether the field is mandatory"
                    },
                    "multiple": {
                        "type": "boolean",
                        "description": "Whether there can be multiple values"
                    },
                    "placeholderText": {
                        "type": "string",
                        "description": "The help text to display in the field input (read-only)"
                    },
                    "rank": {
                        "type": "integer",
                        "description": "The rank at which the field is displayed in the document page (read-only)",
                        "format": "int32"
                    },
                    "readOnly": {
                        "type": "boolean",
                        "description": "Whether the field is currently read-only"
                    },
                    "type": {
                        "type": "string",
                        "description": "The field type (STRING, DATE, ..., CATEGORY, REFERENCE_CATALOG)",
                        "enum": [
                            "STRING",
                            "TEXT",
                            "DATE",
                            "TIME",
                            "DATETIME",
                            "INTEGER",
                            "FILESIZE",
                            "DECIMAL",
                            "BOOLEAN",
                            "PERSON",
                            "CATEGORY",
                            "GEOPOINT",
                            "URL",
                            "REFERENCE_CATALOG",
                            "MIMETYPEGROUP",
                            "CLASS",
                            "FOLDER",
                            "STATE",
                            "OSS_ATTACHMENT",
                            "DRIVE_ATTACHMENT",
                            "TABLE"
                        ]
                    },
                    "validation": {
                        "$ref": "#/components/schemas/ApiFieldValidation"
                    },
                    "values": {
                        "type": "array",
                        "description": "The list of category values",
                        "items": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/ApiCategoryValue"
                            }
                        }
                    }
                }
            },
            "ApiCategoryDefinition": {
                "type": "object",
                "properties": {
                    "description": {
                        "type": "string",
                        "description": "The description of the category"
                    },
                    "dynamicValues": {
                        "type": "boolean",
                        "description": "Whether the category authorizes dynamic values"
                    },
                    "folder": {
                        "type": "boolean",
                        "description": "Whether the category is the Folder category (read-only)"
                    },
                    "id": {
                        "type": "string",
                        "description": "The ID of the category"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "levelNames": {
                        "type": "array",
                        "description": "The name of the levels in the category",
                        "items": {
                            "type": "string"
                        }
                    },
                    "levelNames_i18n": {
                        "type": "array",
                        "description": "The internationalized name of the levels in the category (read-only field)",
                        "items": {
                            "type": "string"
                        }
                    },
                    "libraryId": {
                        "type": "string",
                        "description": "The ID of the library"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the category"
                    },
                    "tags": {
                        "type": "boolean",
                        "description": "Whether the category is the Tags category (read-only)"
                    },
                    "value": {
                        "type": "string",
                        "description": "The ID of the category (backward compatibility for category.category.listCategoryDefinitions)"
                    }
                }
            },
            "ApiCategoryValue": {
                "type": "object",
                "properties": {
                    "ancestors": {
                        "type": "array",
                        "description": "Ancestor category values from direct parent to root - only present with loadCategoryValue",
                        "items": {
                            "$ref": "#/components/schemas/ApiCategoryValue"
                        }
                    },
                    "id": {
                        "type": "string",
                        "description": "The ID of the category value"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "leaf": {
                        "type": "boolean",
                        "description": "Whether the category value is leaf"
                    },
                    "leafInNotOutdatedTree": {
                        "type": "boolean",
                        "description": "Whether the category value is leaf without not outdated child"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the category value"
                    },
                    "name_i18n": {
                        "type": "string",
                        "description": "The internationalized name of the category value (read-only field)"
                    },
                    "outdated": {
                        "type": "boolean",
                        "description": "Whether the category value is marked as outdated"
                    },
                    "parentId": {
                        "type": "string",
                        "description": "The ID of the parent category value (read-only field)"
                    },
                    "shortName": {
                        "type": "string",
                        "description": "The short name of the category value"
                    },
                    "value": {
                        "type": "string",
                        "description": "(Deprecated) The ID of the category value"
                    }
                }
            },
            "ApiClassField": {
                "type": "object",
                "properties": {
                    "appMetadata": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/ApiNamespacedAppMetadata"
                        },
                        "description": "App Metadata let developers associate metadata with various configuration entities. The metadata is isolated within app namespaces in order to prevent one application from interfering with another's metadata."
                    },
                    "calculatedSettings": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/ApiCalculatedSettingConfiguration"
                        },
                        "description": "The configuration of calculated settings (mandatory/hidden)"
                    },
                    "calculatedValue": {
                        "$ref": "#/components/schemas/ApiCalculatedValueConfiguration"
                    },
                    "categoryDefinition": {
                        "$ref": "#/components/schemas/ApiCategoryDefinition"
                    },
                    "categoryId": {
                        "type": "string",
                        "description": "The ID of the category (if type = CATEGORY) - (deprecated, read-only)"
                    },
                    "columns": {
                        "type": "array",
                        "description": "The column properties of the field (only if this field is a table type field)",
                        "items": {
                            "$ref": "#/components/schemas/ApiClassTableColumn"
                        }
                    },
                    "creationSettings": {
                        "$ref": "#/components/schemas/ApiDocumentFieldFlags"
                    },
                    "customPlaceholder": {
                        "type": "boolean",
                        "description": "Whether to use a custom placeholder when displaying the field in the UI"
                    },
                    "description": {
                        "type": "string",
                        "description": "The description of the field"
                    },
                    "displayName": {
                        "type": "string",
                        "description": "The name of the field"
                    },
                    "dynamicValues": {
                        "type": "boolean"
                    },
                    "folder": {
                        "type": "boolean"
                    },
                    "hidden": {
                        "type": "boolean",
                        "description": "Whether the field should be hidden for the whole life-cycle of documents of the class"
                    },
                    "id": {
                        "type": "string",
                        "description": "The ID of the field (read-only field)"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "levelNames": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "mandatory": {
                        "type": "boolean",
                        "description": "Whether the field should be mandatory for the whole life-cycle of documents of the class (not compatible for all field types)"
                    },
                    "multiple": {
                        "type": "boolean",
                        "description": "Whether the field should be multi-valued (not compatible for all field types)"
                    },
                    "placeholderText": {
                        "type": "string",
                        "description": "The placeholder text if customPlaceholder = true"
                    },
                    "rank": {
                        "type": "integer",
                        "description": "The rank of the field in the list (deprecated)",
                        "format": "int32"
                    },
                    "readOnly": {
                        "type": "boolean",
                        "description": "Whether the field should be read-only for the whole life-cycle of documents of the class (not compatible for all field types)"
                    },
                    "referenceCatalog": {
                        "$ref": "#/components/schemas/ApiReferenceCatalog"
                    },
                    "referenceCatalogId": {
                        "type": "string",
                        "description": "The ID of the reference catalog (if type = REFERENCE_CATALOG)"
                    },
                    "type": {
                        "type": "string",
                        "description": "The type of field (STRING, TEXT, DATE, TIME, DATETIME, INTEGER, DECIMAL, BOOLEAN, PERSON, GEOPOINT, URL, CATEGORY, REFERENCE_CATALOG, TABLE)",
                        "enum": [
                            "STRING",
                            "TEXT",
                            "DATE",
                            "TIME",
                            "DATETIME",
                            "INTEGER",
                            "FILESIZE",
                            "DECIMAL",
                            "BOOLEAN",
                            "PERSON",
                            "CATEGORY",
                            "GEOPOINT",
                            "URL",
                            "REFERENCE_CATALOG",
                            "MIMETYPEGROUP",
                            "CLASS",
                            "FOLDER",
                            "STATE",
                            "OSS_ATTACHMENT",
                            "DRIVE_ATTACHMENT",
                            "TABLE"
                        ]
                    },
                    "validation": {
                        "$ref": "#/components/schemas/ApiFieldValidation"
                    }
                }
            },
            "ApiClassSystemField": {
                "type": "object",
                "properties": {
                    "calculatedValue": {
                        "$ref": "#/components/schemas/ApiCalculatedValueConfiguration"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "readOnly": {
                        "type": "boolean",
                        "description": "Whether the system field should be read-only for the whole life-cycle of documents of the class"
                    },
                    "type": {
                        "type": "string",
                        "description": "The type of field",
                        "enum": [
                            "STRING",
                            "TEXT",
                            "DATE",
                            "TIME",
                            "DATETIME",
                            "INTEGER",
                            "FILESIZE",
                            "DECIMAL",
                            "BOOLEAN",
                            "PERSON",
                            "CATEGORY",
                            "GEOPOINT",
                            "URL",
                            "REFERENCE_CATALOG",
                            "MIMETYPEGROUP",
                            "CLASS",
                            "FOLDER",
                            "STATE",
                            "OSS_ATTACHMENT",
                            "DRIVE_ATTACHMENT",
                            "TABLE"
                        ]
                    }
                }
            },
            "ApiClassTableColumn": {
                "type": "object",
                "properties": {
                    "appMetadata": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/ApiNamespacedAppMetadata"
                        },
                        "description": "App Metadata let developers associate metadata with various configuration entities. The metadata is isolated within app namespaces in order to prevent one application from interfering with another's metadata."
                    },
                    "calculatedSettings": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/ApiCalculatedSettingConfiguration"
                        },
                        "description": "The configuration of calculated settings (mandatory/hidden)"
                    },
                    "calculatedValue": {
                        "$ref": "#/components/schemas/ApiCalculatedValueConfiguration"
                    },
                    "categoryDefinition": {
                        "$ref": "#/components/schemas/ApiCategoryDefinition"
                    },
                    "categoryId": {
                        "type": "string",
                        "description": "The ID of the category (if type = CATEGORY) - (deprecated, read-only)"
                    },
                    "columns": {
                        "type": "array",
                        "description": "The column properties of the field (only if this field is a table type field)",
                        "items": {
                            "$ref": "#/components/schemas/ApiClassTableColumn"
                        }
                    },
                    "creationSettings": {
                        "$ref": "#/components/schemas/ApiDocumentFieldFlags"
                    },
                    "customPlaceholder": {
                        "type": "boolean",
                        "description": "Whether to use a custom placeholder when displaying the field in the UI"
                    },
                    "description": {
                        "type": "string",
                        "description": "The description of the field"
                    },
                    "displayName": {
                        "type": "string",
                        "description": "The name of the field"
                    },
                    "dynamicValues": {
                        "type": "boolean"
                    },
                    "folder": {
                        "type": "boolean"
                    },
                    "hidden": {
                        "type": "boolean",
                        "description": "Whether the field should be hidden for the whole life-cycle of documents of the class"
                    },
                    "id": {
                        "type": "string",
                        "description": "The ID of the field (read-only field)"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "levelNames": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "mandatory": {
                        "type": "boolean",
                        "description": "Whether the field should be mandatory for the whole life-cycle of documents of the class (not compatible for all field types)"
                    },
                    "multiple": {
                        "type": "boolean",
                        "description": "Whether the field should be multi-valued (not compatible for all field types)"
                    },
                    "placeholderText": {
                        "type": "string",
                        "description": "The placeholder text if customPlaceholder = true"
                    },
                    "rank": {
                        "type": "integer",
                        "description": "The rank of the field in the list (deprecated)",
                        "format": "int32"
                    },
                    "readOnly": {
                        "type": "boolean",
                        "description": "Whether the field should be read-only for the whole life-cycle of documents of the class (not compatible for all field types)"
                    },
                    "referenceCatalog": {
                        "$ref": "#/components/schemas/ApiReferenceCatalog"
                    },
                    "referenceCatalogId": {
                        "type": "string",
                        "description": "The ID of the reference catalog (if type = REFERENCE_CATALOG)"
                    },
                    "type": {
                        "type": "string",
                        "description": "The type of field (STRING, TEXT, DATE, TIME, DATETIME, INTEGER, DECIMAL, BOOLEAN, PERSON, GEOPOINT, URL, CATEGORY, REFERENCE_CATALOG, TABLE)",
                        "enum": [
                            "STRING",
                            "TEXT",
                            "DATE",
                            "TIME",
                            "DATETIME",
                            "INTEGER",
                            "FILESIZE",
                            "DECIMAL",
                            "BOOLEAN",
                            "PERSON",
                            "CATEGORY",
                            "GEOPOINT",
                            "URL",
                            "REFERENCE_CATALOG",
                            "MIMETYPEGROUP",
                            "CLASS",
                            "FOLDER",
                            "STATE",
                            "OSS_ATTACHMENT",
                            "DRIVE_ATTACHMENT",
                            "TABLE"
                        ]
                    },
                    "validation": {
                        "$ref": "#/components/schemas/ApiFieldValidation"
                    }
                }
            },
            "ApiCustomAction": {
                "type": "object",
                "properties": {
                    "event": {
                        "type": "string",
                        "description": "The type of event (in workflow transitions: ON_STATE_ENTER_BEFORE_TRANSITION, ON_ENTER_STATE_AFTER_TRANSITION, ON_LEAVE_STATE_BEFORE_TRANSITION or ON_STATE_LEAVE_AFTER_TRANSITION, in relations: ON_RELATION_FILTER or ON_RELATION_RENDER, in classes: ON_DOCUMENT_UPDATE or ON_DOCUMENT_DISPLAY)",
                        "enum": [
                            "ON_STATE_ENTER_BEFORE_TRANSITION",
                            "ON_STATE_ENTER_AFTER_TRANSITION",
                            "ON_STATE_LEAVE_BEFORE_TRANSITION",
                            "ON_STATE_LEAVE_AFTER_TRANSITION",
                            "ON_RELATION_FILTER",
                            "ON_RELATION_RENDER",
                            "ON_DOCUMENT_DISPLAY",
                            "ON_DOCUMENT_UPDATE"
                        ]
                    },
                    "id": {
                        "type": "string",
                        "description": "The id of the action (read-only)"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the action"
                    },
                    "params": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "The map key/value of the parameters"
                    },
                    "scriptId": {
                        "type": "string",
                        "description": "The ID of the custom script"
                    },
                    "scriptName": {
                        "type": "string",
                        "description": "The name of the custom script (read-only field)"
                    }
                }
            },
            "ApiDocumentCopySectionConfig": {
                "type": "object",
                "properties": {
                    "restrictToIds": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiIdName"
                        }
                    }
                }
            },
            "ApiDocumentFieldFlags": {
                "type": "object",
                "properties": {
                    "hidden": {
                        "type": "boolean",
                        "description": "Whether the field should be hidden during document creation only"
                    },
                    "mandatory": {
                        "type": "boolean",
                        "description": "Whether the field should be mandatory during document creation only (not compatible for all field types)"
                    },
                    "readOnly": {
                        "type": "boolean",
                        "description": "Whether the field should be read-only during document creation only (not compatible for all field types)"
                    }
                }
            },
            "ApiDocumentType": {
                "type": "object",
                "properties": {
                    "appMetadata": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/ApiNamespacedAppMetadata"
                        },
                        "description": "App Metadata let developers associate metadata with various configuration entities. The metadata is isolated within app namespaces in order to prevent one application from interfering with another's metadata."
                    },
                    "attachmentCreationModes": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/ApiAttachmentCreationModeSetting"
                        },
                        "description": "The list of supported attachment create modes with there setting (at least one mode should be enabled)"
                    },
                    "checkoutMode": {
                        "type": "string",
                        "description": "The mode for check-out use (DISABLED: no check-out possible, OPTIONAL: check-out can be used, MANDATORY: check-out must be used)",
                        "enum": [
                            "DISABLED",
                            "OPTIONAL",
                            "MANDATORY"
                        ]
                    },
                    "coordinate": {
                        "type": "string",
                        "description": "The coordinate of the document class based on the sequence ID (read-only field)"
                    },
                    "creators": {
                        "type": "array",
                        "description": "The list of users/groups/roles who can create documents of this class (administrators implicitly can and readers implicitly can't)",
                        "items": {
                            "$ref": "#/components/schemas/ApiPermissionV2"
                        }
                    },
                    "customActions": {
                        "type": "array",
                        "description": "This list of custom actions to be triggered on documents of this class (both viewer and update actions)",
                        "items": {
                            "$ref": "#/components/schemas/ApiCustomAction"
                        }
                    },
                    "defaultClass": {
                        "type": "boolean",
                        "description": "Whether this class is the default document class of the library (read-only field)"
                    },
                    "defaultTemplateId": {
                        "type": "string",
                        "description": "The ID of the default document template of the document class"
                    },
                    "deleteFields": {
                        "type": "array",
                        "description": "The list of field IDs to delete from the document class (use only during patch)",
                        "items": {
                            "type": "string"
                        }
                    },
                    "description": {
                        "type": "string",
                        "description": "The description of the document class"
                    },
                    "displayName": {
                        "type": "string",
                        "description": "The name of the document class"
                    },
                    "displayName_i18n": {
                        "type": "string",
                        "description": "The internationalized name of the document class (read-only field)"
                    },
                    "documentCopyDisabled": {
                        "type": "boolean",
                        "description": "Whether document copying is allowed or not"
                    },
                    "elementsToCopy": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/ApiDocumentCopySectionConfig"
                        },
                        "description": "User settings determining which attributes to copy when using 'Create From' mode to create a new document."
                    },
                    "explicitPermissionMode": {
                        "type": "string",
                        "description": "The mode for permissions override: EXPLICIT_PERMISSIONS_ALLOWED or EXPLICIT_PERMISSIONS_DISABLED",
                        "enum": [
                            "EXPLICIT_PERMISSIONS_ALLOWED",
                            "EXPLICIT_PERMISSIONS_DISABLED"
                        ]
                    },
                    "fields": {
                        "type": "array",
                        "description": "The list of fields (metadata) configured in the document class",
                        "items": {
                            "$ref": "#/components/schemas/ApiClassField"
                        }
                    },
                    "firstVersionName": {
                        "type": "string",
                        "description": "The name of the first version if firstVersionNumberingMode = FIXED"
                    },
                    "firstVersionNumberingMode": {
                        "type": "string",
                        "description": "Whether the first version's name should be overridden (FIXED) or implicit (AUTOMATIC)",
                        "enum": [
                            "AUTOMATIC",
                            "FIXED"
                        ]
                    },
                    "forceNumberVersions": {
                        "type": "boolean",
                        "description": "Whether the version names must be numerical values"
                    },
                    "id": {
                        "type": "string",
                        "description": "The ID of the document class (read-only field)"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "libraryId": {
                        "type": "string",
                        "description": "The ID of the library in which the document class is (read-only field)"
                    },
                    "managedPermissionSource": {
                        "type": "string",
                        "description": "The inheritance mode for permissions: CLASS, WORKFLOW, FOLDER",
                        "enum": [
                            "CLASS",
                            "WORKFLOW",
                            "FOLDER"
                        ]
                    },
                    "manualVersioningDisabled": {
                        "type": "boolean",
                        "description": "Whether the manual versioning should be disabled for documents of this class"
                    },
                    "name": {
                        "type": "string",
                        "description": "The display name of the document class (backward compatibility for documentType.documentType.listClasses)"
                    },
                    "name_i18n": {
                        "type": "string",
                        "description": "The localized display name of the document class (backward compatibility for documentType.documentType.listClasses)"
                    },
                    "onlyAdminsCanDelete": {
                        "type": "boolean",
                        "description": "Whether only library administrators can delete documents of the class"
                    },
                    "onlyAdminsCanShare": {
                        "type": "boolean",
                        "description": "Whether only library administrators can share documents of the class"
                    },
                    "permissions": {
                        "type": "array",
                        "description": "The list of users/groups/roles who can access the documents of this class (if managedPermissionSource = CLASS) and their access level",
                        "items": {
                            "$ref": "#/components/schemas/ApiPermissionV2"
                        }
                    },
                    "previousVersionsVisibility": {
                        "$ref": "#/components/schemas/ApiSecurityToken"
                    },
                    "readOnlyTitle": {
                        "type": "boolean",
                        "description": "DEPRECATED. Use systemFields['_title'].readOnly instead. Whether the title field should be read-only for whole life-cycle of documents of this class (except creation)"
                    },
                    "restrictedDownload": {
                        "type": "boolean",
                        "description": "Whether the documents of this class should be restricted for download by readers"
                    },
                    "sections": {
                        "type": "array",
                        "description": "The sections of fields for organization",
                        "items": {
                            "$ref": "#/components/schemas/ApiFieldSection"
                        }
                    },
                    "sectionsDefaultColumnCount": {
                        "type": "integer",
                        "description": "Default column count to apply to sections without a specific columnCount. Defaults to 2",
                        "format": "int32"
                    },
                    "sequenceId": {
                        "type": "integer",
                        "description": "The ID of sequence of the document class (read-only field)",
                        "format": "int64"
                    },
                    "systemFields": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/ApiClassSystemField"
                        },
                        "description": "The list of system fields in the document class (contains only '_title' for now)"
                    },
                    "templates": {
                        "type": "array",
                        "description": "The document templates of this class (read-only, returned only if TEMPLATES is specified within the include request param)",
                        "items": {
                            "$ref": "#/components/schemas/ApiTemplateDocument"
                        }
                    },
                    "usersCanAccessPreviousVersions": {
                        "type": "boolean",
                        "description": "Whether users can access the previous versions of the documents of this class"
                    },
                    "value": {
                        "type": "string",
                        "description": "The ID of the document class (backward compatibility for documentType.documentType.listClasses)"
                    },
                    "workflowId": {
                        "type": "string",
                        "description": "The ID of the workflow in which the document class is (read-only field)"
                    }
                }
            },
            "ApiDocumentTypeList": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiDocumentType"
                        }
                    },
                    "kind": {
                        "type": "string"
                    }
                }
            },
            "ApiDocumentViewConfiguration": {
                "type": "object",
                "properties": {
                    "defaultTabToDisplay": {
                        "type": "string",
                        "description": "The tab to display when open the document",
                        "enum": [
                            "PROPERTIES",
                            "FIRST_ATTACHMENT"
                        ]
                    },
                    "kind": {
                        "type": "string"
                    },
                    "orientation": {
                        "type": "string",
                        "description": "The orientation to display the document (PORTRAIT or LANDSCAPE)",
                        "enum": [
                            "PORTRAIT",
                            "LANDSCAPE"
                        ]
                    },
                    "visibleRelations": {
                        "type": "array",
                        "description": "The list of ordered relations to display in the Relations section",
                        "items": {
                            "type": "string"
                        }
                    },
                    "visibleSections": {
                        "type": "array",
                        "description": "The list of ordered sections to display",
                        "items": {
                            "type": "string",
                            "enum": [
                                "INFO",
                                "WORKFLOW",
                                "PROPERTIES",
                                "ATTACHMENTS",
                                "RELATIONS",
                                "DESCRIPTION"
                            ]
                        }
                    }
                }
            },
            "ApiDriveAttachmentMetadata": {
                "type": "object",
                "properties": {
                    "iconLink": {
                        "type": "string",
                        "description": "The URL of the icon of the file"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "link": {
                        "type": "string",
                        "description": "The URL to the file in Drive"
                    },
                    "permissionsOnDrive": {
                        "type": "array",
                        "description": "The list of permissions set in Drive for the file",
                        "items": {
                            "$ref": "#/components/schemas/ApiDrivePermission"
                        }
                    },
                    "publishedLink": {
                        "type": "string",
                        "description": "The URL of the file when published"
                    },
                    "resourceKey": {
                        "type": "string",
                        "description": "A file that is shared with the link may only be discovered with this resourceKey"
                    },
                    "revisionId": {
                        "type": "string",
                        "description": "The ID of the revision of the file in Drive"
                    }
                }
            },
            "ApiDrivePermission": {
                "type": "object",
                "properties": {
                    "additionalRoles": {
                        "type": "array",
                        "description": "The additional roles for the permission like COMMENTER",
                        "items": {
                            "type": "string"
                        }
                    },
                    "allowlisted": {
                        "type": "boolean",
                        "description": "Whether the email address is allowlisted (individually or via its domain) in the current domain"
                    },
                    "belongsToDomain": {
                        "type": "boolean",
                        "description": "Whether the email address is part of the current domain"
                    },
                    "email": {
                        "type": "string",
                        "description": "The email of the permission or the domain name if type = DOMAIN"
                    },
                    "googleEmailAddress": {
                        "type": "boolean",
                        "description": "Whether the email address is tied to a Google account"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string",
                        "description": "The displayed name for the permission"
                    },
                    "permissionId": {
                        "type": "string",
                        "description": "The unique ID for the permission in Drive"
                    },
                    "role": {
                        "type": "string",
                        "description": "The role of the permission: READER, WRITER, OWNER"
                    },
                    "thumbnailPhotoUrl": {
                        "type": "string",
                        "description": "The URL of the thumbnail picture of the permitted user or group"
                    },
                    "type": {
                        "type": "string",
                        "description": "The type of permission in Drive: ANYONE, DOMAIN, GROUP, USER"
                    },
                    "withLink": {
                        "type": "boolean",
                        "description": "Whether the permission imposes to have the link to access (vs. can be searched for)"
                    }
                }
            },
            "ApiField": {
                "type": "object",
                "properties": {
                    "calculatedSettingsInfo": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/ApiCalculatedSettingsInfo"
                        },
                        "description": "Information about the result of evaluation of calculated settings (read-only)"
                    },
                    "calculatedValueInfo": {
                        "$ref": "#/components/schemas/ApiFieldValuesInfo"
                    },
                    "description": {
                        "type": "string",
                        "description": "The description of the field (read-only)"
                    },
                    "description_i18n": {
                        "type": "string",
                        "description": "The internationalized description of the field (read-only)"
                    },
                    "editable": {
                        "type": "boolean",
                        "description": "Whether the field is editable by the current user"
                    },
                    "fieldId": {
                        "type": "string",
                        "description": "The ID of the field"
                    },
                    "fieldName": {
                        "type": "string",
                        "description": "The name of the field"
                    },
                    "fieldName_i18n": {
                        "type": "string",
                        "description": "The internationalized name of the field (read-only)"
                    },
                    "hidden": {
                        "type": "boolean",
                        "description": "Whether the field is hidden to the user user"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "mandatory": {
                        "type": "boolean",
                        "description": "Whether the field is mandatory"
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/ApiFieldMetadata"
                    },
                    "multiple": {
                        "type": "boolean",
                        "description": "Whether there can be multiple values"
                    },
                    "placeholderText": {
                        "type": "string",
                        "description": "The help text to display in the field input (read-only)"
                    },
                    "rank": {
                        "type": "integer",
                        "description": "The rank at which the field is displayed in the document page (read-only)",
                        "format": "int32"
                    },
                    "readOnly": {
                        "type": "boolean",
                        "description": "Whether the field is currently read-only"
                    },
                    "type": {
                        "type": "string",
                        "description": "The field type (STRING, DATE, ..., CATEGORY, REFERENCE_CATALOG)",
                        "enum": [
                            "STRING",
                            "TEXT",
                            "DATE",
                            "TIME",
                            "DATETIME",
                            "INTEGER",
                            "FILESIZE",
                            "DECIMAL",
                            "BOOLEAN",
                            "PERSON",
                            "CATEGORY",
                            "GEOPOINT",
                            "URL",
                            "REFERENCE_CATALOG",
                            "MIMETYPEGROUP",
                            "CLASS",
                            "FOLDER",
                            "STATE",
                            "OSS_ATTACHMENT",
                            "DRIVE_ATTACHMENT",
                            "TABLE"
                        ]
                    },
                    "validation": {
                        "$ref": "#/components/schemas/ApiFieldValidation"
                    },
                    "values": {
                        "type": "array",
                        "description": "The list of values for the field",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "ApiFieldDefinition": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "The ID of the field"
                    },
                    "type": {
                        "type": "string",
                        "description": "The type of the field (read-only field)"
                    }
                }
            },
            "ApiFieldMetadata": {
                "type": "object",
                "properties": {
                    "attachments": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiAttachmentMetadata"
                        }
                    },
                    "kind": {
                        "type": "string"
                    }
                }
            },
            "ApiFieldSection": {
                "type": "object",
                "properties": {
                    "columnCount": {
                        "type": "integer",
                        "description": "The number of columns to display fields for this section.",
                        "format": "int32"
                    },
                    "description": {
                        "type": "string",
                        "description": "The description of the section"
                    },
                    "fields": {
                        "type": "array",
                        "description": "The list of fields in the section",
                        "items": {
                            "$ref": "#/components/schemas/ApiFieldDefinition"
                        }
                    },
                    "id": {
                        "type": "string",
                        "description": "The ID of the section (read-only field)"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the section"
                    },
                    "name_i18n": {
                        "type": "string",
                        "description": "The internationalized name of the section (read-only field)"
                    }
                }
            },
            "ApiFieldValidation": {
                "type": "object",
                "properties": {
                    "audience": {
                        "$ref": "#/components/schemas/ApiSecurityToken"
                    },
                    "errorMessage": {
                        "type": "string",
                        "description": "The error message if the value inputted is not valid"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "lowerLimit": {
                        "type": "number",
                        "description": "The lower limit of the range for numerical fields",
                        "format": "double"
                    },
                    "lowerLimitInclusive": {
                        "type": "boolean",
                        "description": "Whether to include the lower limit value in the range"
                    },
                    "mandatoryLeaf": {
                        "type": "boolean",
                        "description": "Whether the leaf selection is required for Category or Reference Catalog fields"
                    },
                    "regex": {
                        "type": "string",
                        "description": "The regular expression for String fields"
                    },
                    "upperLimit": {
                        "type": "number",
                        "description": "The upper limit of the range for numerical fields",
                        "format": "double"
                    },
                    "upperLimitInclusive": {
                        "type": "boolean",
                        "description": "Whether to include the upper limit value in the range"
                    }
                }
            },
            "ApiFieldValuesInfo": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "boolean",
                        "description": "If the field has no value, indicates whether this is due to an evaluation error (read-only)"
                    }
                }
            },
            "ApiFolder": {
                "type": "object",
                "properties": {
                    "editable": {
                        "type": "boolean",
                        "description": "Whether the folder is editable by the current user (read-only field)"
                    },
                    "editableDocuments": {
                        "type": "boolean",
                        "description": "Whether the documents in the folder are editable by the current user (read-only field)"
                    },
                    "fileId": {
                        "type": "string",
                        "description": "The ID of the folder in Drive"
                    },
                    "folderAodocsId": {
                        "type": "string",
                        "description": "The ID of the folder in AODocs model (0 if root folder)"
                    },
                    "folderDefinitionId": {
                        "type": "string",
                        "description": "(Deprecated) The ID of the folder configuration"
                    },
                    "folderIsRoot": {
                        "type": "boolean",
                        "description": "Whether the folder is the root folder (read-only field)"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "libraryId": {
                        "type": "string",
                        "description": "The ID of the library"
                    },
                    "libraryName": {
                        "type": "string",
                        "description": "The name of the library"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the folder"
                    },
                    "parentFolderAodocsId": {
                        "type": "string",
                        "description": "The ID of the parent folder in AODocs model (0 if root folder)"
                    },
                    "parentFolderDriveId": {
                        "type": "string",
                        "description": "The ID of the parent folder in Drive"
                    },
                    "parentFolderIsRoot": {
                        "type": "boolean",
                        "description": "Whether the parent folder is the root folder (read-only field)"
                    },
                    "permittedOperations": {
                        "type": "array",
                        "description": "The list of permitted operations to the current user (read-only field)",
                        "items": {
                            "type": "string",
[...]
