{
    "openapi": "3.0.1",
    "info": {
        "title": "AODocs REST API",
        "description": "The AODocs REST API exposes most of the features of AODocs. It can be used to implement custom applications, third-party integration, bulk tools, or just to experiment with AODocs.",
        "version": "68.1.0"
    },
    "servers": [
        {
            "url": "https://aodocs.altirnao.com/api"
        }
    ],
    "tags": [
        {
            "name": "documentId",
            "description": "Lets you read and update document properties, create new documents, delete documents, manage document versions, ...  (beta version, subject to change)"
        }
    ],
    "paths": {
        "/document/v1": {
            "get": {
                "tags": [
                    "documentId"
                ],
                "description": "Creates a pre-filled unsaved document.",
                "operationId": "documentId:v1beta1.Document.getDraftDocument",
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "query",
                        "description": "The ID of the library",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "classId",
                        "in": "query",
                        "description": "The ID of the document class",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "templateDocumentId",
                        "in": "query",
                        "description": "The ID of the document template",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sourceDocumentId",
                        "in": "query",
                        "description": "The ID of the source document",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "folderId",
                        "in": "query",
                        "description": "The ID of the folder",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiDocument response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiDocument"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "documentId"
                ],
                "description": "Creates a new document of the given class in the given library.",
                "operationId": "documentId:v1beta1.Document.insertDocument",
                "parameters": [
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "executionOptions",
                        "in": "query",
                        "description": "To disable custom script executions and workflow email notifications, you can use the following options: SKIP_CUSTOM_SCRIPT_EXECUTIONS, SKIP_WORKFLOW_EMAIL_SENDING.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "SKIP_WORKFLOW_EMAIL_SENDING",
                                    "SKIP_CUSTOM_SCRIPT_EXECUTION",
                                    "FAIL_ON_INCOMPLETE"
                                ]
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiDocument"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A ApiDocument response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiDocument"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiDocument"
            }
        },
        "/document/v1/createdrivefile": {
            "post": {
                "tags": [
                    "documentId"
                ],
                "description": "Creates a file in the Drive of the storage account of the given library.",
                "operationId": "documentId:v1beta1.Document.createDriveFile",
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "query",
                        "description": "The ID of the library",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mimeType",
                        "in": "query",
                        "description": "The MIME type of the file",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "The title of the file",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiId response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiId"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/document/v1/newversionbyattachment/{driveId}": {
            "post": {
                "tags": [
                    "documentId"
                ],
                "description": "Creates a new version of the AODocs document after uploading a new revision of an attachment (deprecated, use 'updateAttachment' instead).",
                "operationId": "documentId:v1beta1.Document.createNewVersionByUploadAttachment",
                "parameters": [
                    {
                        "name": "driveId",
                        "in": "path",
                        "description": "The ID of the file",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionNumber",
                        "in": "query",
                        "description": "The name of the new version to be created",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionLabel",
                        "in": "query",
                        "description": "The description of the new version to be created",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiJobId response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiJobId"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/document/v1/{documentId}": {
            "get": {
                "tags": [
                    "documentId"
                ],
                "description": "Gets a document.",
                "operationId": "documentId:v1beta1.Document.loadDocument",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionId",
                        "in": "query",
                        "description": "The ID of the version. Leave empty to get the default version (equivalent to value 'HEAD'), i.e. the draft if it exists and if the user has access to it (equivalent to value 'DRAFT'), else the main version (equivalent to value 'COMMITTED'). Fill with the ID of the version to get a past version of the document.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "libraryId",
                        "in": "query",
                        "description": "The ID of the library (optional - must be consistent with document's library if provided)",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiDocument response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiDocument"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "documentId"
                ],
                "description": "Updates a document (reset not specified fields).",
                "operationId": "documentId:v1beta1.Document.updateDocument",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiDocument"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A ApiDocument response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiDocument"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiDocument"
            },
            "delete": {
                "tags": [
                    "documentId"
                ],
                "description": "Deletes a document.",
                "operationId": "documentId:v1beta1.Document.deleteDocument",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "deleteMode",
                        "in": "query",
                        "description": "The mode of deletion of the document. The values are 'TRASH' (send document to library trash) or 'PERMANENT' (document is permanently removed from AODocs).",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "PERMANENT",
                                "TRASH"
                            ]
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "reason",
                        "in": "query",
                        "description": "The reason for deleting the document",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "A successful response",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "documentId"
                ],
                "description": "Updates a document (keep existing values for not specified fields).",
                "operationId": "documentId:v1beta1.Document.patchDocument",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "executionOptions",
                        "in": "query",
                        "description": "To disable custom script executions and workflow email notifications, you can use the following options: SKIP_CUSTOM_SCRIPT_EXECUTIONS, SKIP_WORKFLOW_EMAIL_SENDING.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "SKIP_WORKFLOW_EMAIL_SENDING",
                                    "SKIP_CUSTOM_SCRIPT_EXECUTION",
                                    "FAIL_ON_INCOMPLETE"
                                ]
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiDocument"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A ApiDocument response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiDocument"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiDocument"
            }
        },
        "/document/v1/{documentId}/checkin": {
            "put": {
                "tags": [
                    "documentId"
                ],
                "description": "Checks in a document (commits the draft version's content as a new version of the document - at the end of the potential job).",
                "operationId": "documentId:v1beta1.Document.checkInDocument",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionName",
                        "in": "query",
                        "description": "The name of the new version to be created",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionDescription",
                        "in": "query",
                        "description": "The description of the new version to be created",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiJobId response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiJobId"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/document/v1/{documentId}/checkout": {
            "put": {
                "tags": [
                    "documentId"
                ],
                "description": "Checks out a document (creates a draft version of the document - at the end of the potential job).",
                "operationId": "documentId:v1beta1.Document.checkOutDocument",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiJobId response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiJobId"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/document/v1/{documentId}/copy": {
            "post": {
                "tags": [
                    "documentId"
                ],
                "description": "Copies the given document via a job. The id of the new document created is returned immediately.",
                "operationId": "documentId:v1beta1.Document.copyDocument",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fromVersionId",
                        "in": "query",
                        "description": "The version ID of the earliest version of the document's version range that you would like to copy",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "toVersionId",
                        "in": "query",
                        "description": "The version ID of most recent version of the document's version range that you would like to copy",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiCopyDocumentResponse response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCopyDocumentResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/document/v1/{documentId}/discardcheckout": {
            "put": {
                "tags": [
                    "documentId"
                ],
                "description": "Discards the check-out of a document (deletes the draft version to come back to the main version as current version).",
                "operationId": "documentId:v1beta1.Document.discardCheckOutDocument",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "A successful response",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/document/v1/{documentId}/exportToMyDrive": {
            "post": {
                "tags": [
                    "documentId"
                ],
                "description": "Exports attachment from a Document Management library to a user's My Drive.",
                "operationId": "documentId:v1beta1.Document.exportToMyDrive",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "attachmentIds",
                        "in": "query",
                        "description": "The list of attachments (by ID) to export",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "userToExportTo",
                        "in": "query",
                        "description": "The email of the user to export the attachments to",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "clientTimeZoneId",
                        "in": "query",
                        "description": "The timezone ID to format the name of the export folder in the user's My Drive. Formatted as a IANA Time Zone Database Name (ie: 'Europe/Paris', see: http://www.iana.org/time-zones).",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiExportResult response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiExportResult"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/document/v1/{documentId}/lock": {
            "post": {
                "tags": [
                    "documentId"
                ],
                "description": "Locks the document for edition by the current user.",
                "operationId": "documentId:v1beta1.Document.createLock",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "A successful response",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "documentId"
                ],
                "description": "Releases the lock put on a document.",
                "operationId": "documentId:v1beta1.Document.releaseLock",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "libraryId",
                        "in": "query",
                        "description": "The ID of the library",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "A successful response",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/document/v1/{documentId}/move/{folderAodocsId}": {
            "post": {
                "tags": [
                    "documentId"
                ],
                "description": "Moves a document in the folder tree.",
                "operationId": "documentId:v1beta1.Document.moveDocument",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "folderAodocsId",
                        "in": "path",
                        "description": "The ID of the target parent folder.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "preserveModificationDateAndAuthor",
                        "in": "query",
                        "description": "Lets you manage whether preserve modification date and author or not",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "A successful response",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/document/v1/{documentId}/notifyUsers": {
            "post": {
                "tags": [
                    "documentId"
                ],
                "description": "Sends a formatted email from AODocs to specific users/groups with a subject and content.",
                "operationId": "documentId:v1beta1.Document.notifyUsers",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "copyToMySelf",
                        "in": "query",
                        "description": "Whether the current user should also receive the email",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "subject",
                        "in": "query",
                        "description": "The subject of the notification email",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "content",
                        "in": "query",
                        "description": "The content of the notification email",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "recipients",
                        "in": "query",
                        "description": "The list of recipients (emails of users or groups) of the notification email",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "A successful response",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/document/v1/{documentId}/untrash": {
            "put": {
                "tags": [
                    "documentId"
                ],
                "description": "Restores a document from the trash.",
                "operationId": "documentId:v1beta1.Document.untrash",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "targetFolderId",
                        "in": "query",
                        "description": "The ID of the target folder to restore the document into",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiDocument response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiDocument"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/document/v1/{documentId}/version": {
            "get": {
                "tags": [
                    "documentId"
                ],
                "description": "Lists past versions of a document.",
                "operationId": "documentId:v1beta1.Document.listVersions",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of versions per page. (Default: 100, must be positive and inferior or equal to 100)",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The offset from which we should get the versions. (Default: 0, i.e. from the first one)",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "The order mode of the versions (either 'asc' or 'desc') based on their creation date",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "asc"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiVersionList response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiVersionList"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "documentId"
                ],
                "description": "Creates a new version of a document.",
                "operationId": "documentId:v1beta1.Document.createVersion",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionDescription",
                        "in": "query",
                        "description": "The description of the new version to be created",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionLabel",
                        "in": "query",
                        "description": "The name of the new version to be created",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionCreationDate",
                        "in": "query",
                        "description": "The date (timestamp format) of the version to be created. The current date/time if empty.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "executionOptions",
                        "in": "query",
                        "description": "To disable custom script executions and workflow email notifications, you can use the following options: SKIP_CUSTOM_SCRIPT_EXECUTIONS, SKIP_WORKFLOW_EMAIL_SENDING.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "SKIP_WORKFLOW_EMAIL_SENDING",
                                    "SKIP_CUSTOM_SCRIPT_EXECUTION",
                                    "FAIL_ON_INCOMPLETE"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiJobId response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiJobId"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/document/v1/{documentId}/version/{versionId}": {
            "get": {
                "tags": [
                    "documentId"
                ],
                "description": "Gets a past version of a document.",
                "operationId": "documentId:v1beta1.Document.loadVersion",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionId",
                        "in": "path",
                        "description": "The ID of the version (past version only)",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiVersionedDocument response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiVersionedDocument"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "documentId"
                ],
                "description": "Restore a previous version of a document by creating a new version based on document content of the chosen past version.",
                "operationId": "documentId:v1beta1.Document.restoreVersion",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionId",
                        "in": "path",
                        "description": "The ID of the version (past version only) to be restored",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "newVersionNumber",
                        "in": "query",
                        "description": "The name of the new version to be created",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "newVersionDescription",
                        "in": "query",
                        "description": "The description of the new version to be created",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiJobId response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiJobId"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/document/v1:listLocked": {
            "get": {
                "tags": [
                    "documentId"
                ],
                "description": "List all the active documents with lock in a library.",
                "operationId": "documentId:v1beta1.Document.listDocumentsWithLock",
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "query",
                        "description": "The ID of the library",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageToken",
                        "in": "query",
                        "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of items to return",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiLockedDocumentList response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLockedDocumentList"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/document/v1beta1": {
            "put": {
                "tags": [
                    "documentId"
                ],
                "description": "Creates a new document with versions.",
                "operationId": "documentId:v1beta1.Document.insertDocumentWithVersions",
                "parameters": [
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "executionOptions",
                        "in": "query",
                        "description": "To disable custom script executions and workflow email notifications, you can use the following options: SKIP_CUSTOM_SCRIPT_EXECUTIONS, SKIP_WORKFLOW_EMAIL_SENDING.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "SKIP_WORKFLOW_EMAIL_SENDING",
                                    "SKIP_CUSTOM_SCRIPT_EXECUTION",
                                    "FAIL_ON_INCOMPLETE"
                                ]
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiDocumentWithVersions"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A ApiDocument response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiDocument"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiDocumentWithVersions"
            }
        },
        "/document/v1beta1/activities": {
            "get": {
                "tags": [
                    "documentId"
                ],
                "description": "Lists document activities.",
                "operationId": "documentId:v1beta1.DocumentActivities.list",
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "query",
                        "description": "The ID of the library",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "documentId",
                        "in": "query",
                        "description": "The ID of the document",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "removeSimilarDocumentUpdates",
                        "in": "query",
                        "description": "Whether the document update activities should be removed if made by the same user on the same document version within the same hour. (Default: false)",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of items to return",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    },
                    {
                        "name": "nextPageToken",
                        "in": "query",
                        "description": "DEPRECATED. Use pageToken instead.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageToken",
                        "in": "query",
                        "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiDocumentActivities response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiDocumentActivities"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/document/v1beta1/async": {
            "put": {
                "tags": [
                    "documentId"
                ],
                "description": "Creates a new document asynchronously (useful in case of numerous attachments) of the given class in the given library.",
                "operationId": "documentId:v1beta1.Document.insertDocumentAsync",
                "parameters": [
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "executionOptions",
                        "in": "query",
                        "description": "To disable custom script executions and workflow email notifications, you can use the following options: SKIP_CUSTOM_SCRIPT_EXECUTIONS, SKIP_WORKFLOW_EMAIL_SENDING.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "SKIP_WORKFLOW_EMAIL_SENDING",
                                    "SKIP_CUSTOM_SCRIPT_EXECUTION",
                                    "FAIL_ON_INCOMPLETE"
                                ]
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiDocument"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A ApiInsertDocumentResponse response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiInsertDocumentResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiDocument"
            }
        },
        "/document/v1beta1/asyncWithVersions": {
            "put": {
                "tags": [
                    "documentId"
                ],
                "description": "Creates a new document with versions asynchronously (useful in case of numerous attachments).",
                "operationId": "documentId:v1beta1.Document.insertDocumentWithVersionsAsync",
                "parameters": [
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "executionOptions",
                        "in": "query",
                        "description": "To disable custom script executions and workflow email notifications, you can use the following options: SKIP_CUSTOM_SCRIPT_EXECUTIONS, SKIP_WORKFLOW_EMAIL_SENDING.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "SKIP_WORKFLOW_EMAIL_SENDING",
                                    "SKIP_CUSTOM_SCRIPT_EXECUTION",
                                    "FAIL_ON_INCOMPLETE"
                                ]
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiDocumentWithVersions"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A ApiInsertDocumentResponse response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiInsertDocumentResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiDocumentWithVersions"
            }
        },
        "/document/v1beta1/calculate": {
            "post": {
                "tags": [
                    "documentId"
                ],
                "description": "Evaluate calculated properties (calculated properties, calculated title, ...) on the document",
                "operationId": "documentId:v1beta1.Document.computeCalculatedValues",
                "parameters": [
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiDocument"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A ApiDocument response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiDocument"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiDocument"
            }
        },
        "/document/v1beta1/creation-token": {
            "get": {
                "tags": [
                    "documentId"
[...]
