{
    "openapi": "3.0.1",
    "info": {
        "title": "AODocs REST API",
        "description": "The AODocs REST API exposes most of the features of AODocs. It can be used to implement custom applications, third-party integration, bulk tools, or just to experiment with AODocs.",
        "version": "68.1.0"
    },
    "servers": [
        {
            "url": "https://aodocs.altirnao.com/api"
        }
    ],
    "tags": [
        {
            "name": "domain",
            "description": "Lets you manage (list, load, patch, update, add new, delete) domain settings (beta version, subject to change)"
        }
    ],
    "paths": {
        "/domain/v1/activate": {
            "put": {
                "tags": [
                    "domain"
                ],
                "description": "Activates the domain on AODocs.",
                "operationId": "domain:v1beta1.Domain.activateDomain",
                "parameters": [
                    {
                        "name": "activationCode",
                        "in": "query",
                        "description": "Code to activate the domain on AODocs",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "A successful response",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/domain/v1/auditLog": {
            "get": {
                "tags": [
                    "domain"
                ],
                "description": "Lists the audit log events relative to specified filters.",
                "operationId": "domain:v1beta1.AuditLog.getEntries",
                "parameters": [
                    {
                        "name": "user",
                        "in": "query",
                        "description": "Email of the user who triggered the audit log event",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "libraryId",
                        "in": "query",
                        "description": "The ID of the library",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "documentId",
                        "in": "query",
                        "description": "The ID of the document",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "scope",
                        "in": "query",
                        "description": "Scope of the event (value in 'DOCUMENT', 'FOLDER', 'SECURITY', 'ADMINISTRATION', 'USER' or 'NOTIFICATION')",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DOCUMENT",
                                "FOLDER",
                                "WORKFLOW",
                                "SECURITY",
                                "ADMINISTRATION",
                                "USER",
                                "NOTIFICATION"
                            ]
                        }
                    },
                    {
                        "name": "eventType",
                        "in": "query",
                        "description": "Type of the event (consult AODocs support for all values possible)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DOCUMENT_CREATED",
                                "DOCUMENT_UPDATED",
                                "DOCUMENT_RENAMED",
                                "DOCUMENT_ACCESSED",
                                "DOCUMENT_MOVED",
                                "DOCUMENT_MOVED_TO_TRASH",
                                "DOCUMENT_RESTORED",
                                "DOCUMENT_DELETED",
                                "DOCUMENT_LOCKED",
                                "DOCUMENT_UNLOCKED",
                                "DOCUMENT_LOCK_CONFLICT",
                                "DOCUMENT_LOCK_DELETED",
                                "DOCUMENT_QUERY",
                                "DOCUMENT_LIST_VIEWED",
                                "DOCUMENT_STATE_CHANGED",
                                "DOCUMENT_STATE_NOT_CHANGED",
                                "DOCUMENT_IMPORTED",
                                "DOCUMENT_COMMENT",
                                "DOCUMENT_COMMENT_ADDED",
                                "DOCUMENT_COMMENT_DELETED",
                                "DOCUMENT_TAG_VERSION",
                                "DOCUMENT_WEBDAV_DOWNLOAD",
                                "DOCUMENT_WEBDAV_UPLOAD",
                                "DOCUMENT_EXPORTED_TO_LIBRARY",
                                "DOCUMENT_EXPORTED_FROM_LIBRARY",
                                "ATTACHMENT_ADDED",
                                "ATTACHMENT_RENAMED",
                                "ATTACHMENT_EDITED",
                                "ATTACHMENT_MOVED",
                                "ATTACHMENT_DELETED",
                                "ATTACHMENT_RETURNED",
                                "ATTACHMENT_EXPORTED",
                                "ATTACHMENT_EXPORTED_TO_LIBRARY",
                                "ATTACHMENT_EXPORTED_FROM_LIBRARY",
                                "ATTACHMENT_SHARED_WITH_NOTIFICATION",
                                "ATTACHMENT_DRIVE_LABEL_UPDATED",
                                "ATTACHMENT_DRIVE_LABEL_FAILED",
                                "DRIVE_PERMISSION_UPDATED",
                                "PARALLEL_VALIDATION_ACTION",
                                "FOLDER_DELETED",
                                "FOLDER_CREATED",
                                "FOLDER_RESTORED",
                                "FOLDER_UPDATED",
                                "FOLDER_RENAMED",
                                "FOLDER_PERMISSIONS_CHANGED",
                                "FOLDER_PERMISSION_PUSHED_TO_CHILDREN",
                                "FOLDER_PREVENT_DOWNLOADING_CHANGED",
                                "FOLDER_MOVED",
                                "FOLDER_IMPORTED",
                                "FOLDER_EXPORTED",
                                "FOLDER_EXPORTED_TO_LIBRARY",
                                "FOLDER_EXPORTED_FROM_LIBRARY",
                                "FOLDER_LIST_VIEWED",
                                "FOLDER_ACCESSED",
                                "MISSING_FOLDER_DETECTED",
                                "MISSING_LIBRARY_SYSTEM_FOLDER_DETECTED",
                                "LIBRARY_SYSTEM_FOLDER_RECOVERED",
                                "WORKFLOW_HUMAN_ACTION",
                                "WORKFLOW_PARALLEL_VALIDATION_ACTION",
                                "USER_LOGGED_IN",
                                "ACCESS_DENIED",
                                "DOMAIN_IMPERSONATE",
                                "USER_IMPERSONATE",
                                "IMPERSONATION_FAILED",
                                "LIBRARY_CREATED",
                                "LIBRARY_COPIED",
                                "LIBRARY_ROLES_CHANGED",
                                "LIBRARY_UPDATED",
                                "LIBRARY_DELETED",
                                "LIBRARY_ROLE_CREATED",
                                "LIBRARY_ROLE_UPDATED",
                                "LIBRARY_ROLE_DELETED",
                                "LIBRARY_PERMISSIONS_UPDATED",
                                "ROLE_PERMISSIONS_UPDATED",
                                "CUSTOM_ROLE_PERMISSIONS_UPDATED",
                                "CLASS_CREATED",
                                "CLASS_UPDATED",
                                "CLASS_DELETED",
                                "CLASS_CHECKIN_CHECKOUT_MODE_TURNED_OFF",
                                "VIEWCONFIG_CREATED",
                                "VIEWCONFIG_UPDATED",
                                "FOLDER_VISIBILITY_CHANGED",
                                "FOLDER_PERMISSION_CHANGED",
                                "CATEGORY_DELETED",
                                "CATEGORY_VALUES_DELETED",
                                "CATEGORY_VALUES_CREATED",
                                "CATEGORY_VALUES_UPDATED",
                                "CATEGORY_DEFAULT_VALUE_UPDATED",
                                "CATEGORY_VALUES_UPLOADED",
                                "CATEGORY_DEFINITION_CREATED",
                                "CATEGORY_DEFINITION_UPDATED",
                                "CATEGORY_DEFINITION_DELETED",
                                "DOCUMENT_TEMPLATE_CREATED",
                                "DOCUMENT_TEMPLATE_UPDATED",
                                "DOCUMENT_TEMPLATE_DELETED",
                                "VIEW_CREATED",
                                "VIEW_UPDATED",
                                "VIEW_DELETED",
                                "VIEW_CLONED",
                                "RELATION_CREATED",
                                "RELATION_UPDATED",
                                "RELATION_DELETED",
                                "SHARE_NOT_PERMITTED",
                                "STATE_UPDATED",
                                "STATE_DELETED",
                                "WORKFLOW_CREATED",
                                "WORKFLOW_DELETED",
                                "WORKFLOW_CHANGED",
                                "WORKFLOW_EMAIL_CREATED",
                                "WORKFLOW_EMAIL_UPDATED",
                                "WORKFLOW_EMAIL_DELETED",
                                "SUPER_ADMIN_ADDED",
                                "SUPER_ADMIN_DELETED",
                                "DOMAIN_UPDATED",
                                "DOMAIN_USERS_REFRESHED",
                                "DIRECTORY_TENANT_ID_ADDED",
                                "DIRECTORY_TENANT_ID_REMOVED",
                                "DIRECTORY_TENANT_ID_UPDATED",
                                "CUSTOM_SCRIPT_CREATED",
                                "CUSTOM_SCRIPT_UPDATED",
                                "CUSTOM_SCRIPT_DELETED",
                                "CUSTOM_UI_ACTION_CREATED",
                                "CUSTOM_UI_ACTION_UPDATED",
                                "CUSTOM_UI_ACTION_DELETED",
                                "DOMAIN_ROLE_CREATED",
                                "DOMAIN_ROLE_UPDATED",
                                "DOMAIN_ROLE_DELETED",
                                "USER_LOGIN",
                                "USER_EDIT",
                                "CREATE_VERSION",
                                "REVERT_VERSION",
                                "EDIT_VERSION",
                                "VIEW_VERSION",
                                "UPDATE_PREVIOUS_VERSION",
                                "DELETE_VERSION",
                                "ADD_SECURITYCODE",
                                "MODIFY_SECURITYCODE",
                                "DELETE_SECURITYCODE",
                                "AUTODELETE_SECURITYCODE",
                                "EXTERNAL_USER_ADDED",
                                "EXTERNAL_USER_REMOVED",
                                "EXTERNAL_DOMAIN_ADDED",
                                "EXTERNAL_DOMAIN_REMOVED",
                                "CHECK_OUT_DOCUMENT",
                                "CHECK_IN_DOCUMENT",
                                "DISCARD_DOCUMENT_CHECK_OUT",
                                "DRIVE_ATTACHMENT_MALWARE_DETECTED",
                                "RELATION_LINK_ADDED",
                                "RELATION_LINK_REMOVED",
                                "LICENSED_USER_ADDED",
                                "LICENSED_USER_PRIMARY_EMAIL_CHANGED",
                                "LICENSED_USER_REMOVED",
                                "LICENSED_USER_REMOVAL_RESTORED",
                                "LICENSES_UPDATED",
                                "USER_LICENSE_NOT_ALLOCATED",
                                "STORAGE_ACCOUNT_ADDED",
                                "STORAGE_ACCOUNT_REMOVED",
                                "SHARING_NOTIFICATION",
                                "WORKFLOW_NOTIFICATION",
                                "WORKFLOW_REMINDER",
                                "SCRIPT_NOTIFICATION",
                                "SYSTEM_NOTIFICATION",
                                "SENT_NOTIFICATION",
                                "DOCUMENT_NOTIFICATION",
                                "SKIPPED_NOTIFICATION",
                                "CUSTOM_CONFIGURATION_CHANGED",
                                "WORKFLOW_STATE_CUSTOM_ACTION_ADDED",
                                "WORKFLOW_STATE_CUSTOM_ACTION_UPDATED",
                                "WORKFLOW_STATE_CUSTOM_ACTION_REMOVED",
                                "LIBRARY_LOCKED",
                                "LIBRARY_UNLOCKED"
                            ]
                        }
                    },
                    {
                        "name": "minDate",
                        "in": "query",
                        "description": "From which date to list the audit log events: a timestamp value is expected (milliseconds since January 1, 1970, 00:00:00 GMT)",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "maxDate",
                        "in": "query",
                        "description": "Until which date to list the audit log events: a timestamp value is expected (milliseconds since January 1, 1970, 00:00:00 GMT)",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of events per page. (Default: 50)",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pageToken",
                        "in": "query",
                        "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiAuditLogList response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAuditLogList"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/domain/v1/check/{applicationId}": {
            "get": {
                "tags": [
                    "domain"
                ],
                "description": "Checks the status of the domain.",
                "operationId": "domain:v1beta1.Domain.checkDomainStatus",
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "description": "ID of the application",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "asUser",
                        "in": "query",
                        "description": "Email address of the user to check the status with",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "storageAdmin",
                        "in": "query",
                        "description": "Email address of the storage account",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "standalone",
                        "in": "query",
                        "description": "Whether the application is installed as standalone or not",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiDomainStatus response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiDomainStatus"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/domain/v1/register/{applicationId}/{storageAdmin}": {
            "put": {
                "tags": [
                    "domain"
                ],
                "description": "Registers the domain on AODocs.",
                "operationId": "domain:v1beta1.Domain.registerDomain",
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "description": "ID of the application",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "storageAdmin",
                        "in": "path",
                        "description": "Email address of the storage account",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "standalone",
                        "in": "query",
                        "description": "Whether the application is installed as standalone or not",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "A successful response",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/domain/v1/storageadmins": {
            "get": {
                "tags": [
                    "domain"
                ],
                "description": "Lists the storage accounts of the domain.",
                "operationId": "domain:v1beta1.Domain.listStorageAdmins",
                "parameters": [
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiStorageAdminList response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiStorageAdminList"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/domain/v1beta1": {
            "get": {
                "tags": [
                    "domain"
                ],
                "description": "Gets information about the domain.",
                "operationId": "domain:v1beta1.Domain.get",
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiDomain response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiDomain"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "domain"
                ],
                "description": "Updates domain configurations.",
                "operationId": "domain:v1beta1.Domain.patch",
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiDomain"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A ApiDomain response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiDomain"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiDomain"
            }
        },
        "/domain/v1beta1/billingStatus": {
            "get": {
                "tags": [
                    "domain"
                ],
                "description": "Gets billing status of the domain.",
                "operationId": "domain:v1beta1.BillingStatus.get",
                "parameters": [
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiBillingStatus response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiBillingStatus"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "domain"
                ],
                "description": "Updates billing status of the domain.",
                "operationId": "domain:v1beta1.BillingStatus.patch",
                "parameters": [
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiBillingStatus"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A ApiBillingStatus response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiBillingStatus"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiBillingStatus"
            }
        },
        "/domain/v1beta1/configuration": {
            "get": {
                "tags": [
                    "domain"
                ],
                "description": "Gets all custom domain configuration flags defined at domain level.",
                "operationId": "domain:v1beta1.Configuration.get",
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiConfiguration response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiConfiguration"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "domain"
                ],
                "description": "Updates values of domain level custom configuration flags. Unspecified flags previously defined at domain level will be deleted!",
                "operationId": "domain:v1beta1.Configuration.update",
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiConfiguration"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A ApiConfiguration response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiConfiguration"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiConfiguration"
            }
        },
        "/domain/v1beta1/configuration/{flagName}": {
            "post": {
                "tags": [
                    "domain"
                ],
                "description": "Sets value for the specified custom configuration flag at domain level.",
                "operationId": "domain:v1beta1.Configuration.set",
                "parameters": [
                    {
                        "name": "flagName",
                        "in": "path",
                        "description": "The name of the configuration flag",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiConfigurationFlagValue"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "A successful response",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiConfigurationFlagValue"
            },
            "delete": {
                "tags": [
                    "domain"
                ],
                "description": "Deletes the specified custom configuration flag at domain level.",
                "operationId": "domain:v1beta1.Configuration.unset",
                "parameters": [
                    {
                        "name": "flagName",
                        "in": "path",
                        "description": "The name of the configuration flag",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "A successful response",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/domain/v1beta1/configurationFlags": {
            "get": {
                "tags": [
                    "domain"
                ],
                "description": "Gets the custom domain configurations with fallback on default value.",
                "operationId": "domain:v1beta1.Configuration.getWithDefaultValue",
                "parameters": [
                    {
                        "name": "flags",
                        "in": "query",
                        "description": "The names of the configuration flags",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiConfigurationFlags response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiConfigurationFlags"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/domain/v1beta1/expiredLicenseUsers": {
            "get": {
                "tags": [
                    "domain"
                ],
                "description": "Lists the users of the domain, whose license expired. (DEPRECATED : Use licensedUsers with status=EXPIRED instead).",
                "operationId": "domain:v1beta1.LicensedUsers.listExpiredLicenses",
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of licensed users per page. (Default: 50)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 50
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "The attribute ('email', 'name', 'lastLogin', 'lastActivity' or 'revokeCooldownDate') used to sort the expired licensed users and the order ('asc' or 'desc'), e.g. 'lastActivity desc'. Default order is: 'revokeCooldownDate asc'.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "nextPageToken",
                        "in": "query",
                        "description": "DEPRECATED. Use pageToken instead.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageToken",
                        "in": "query",
                        "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiLicensedUserList response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLicensedUserList"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/domain/v1beta1/image": {
            "post": {
                "tags": [
                    "domain"
                ],
                "description": "Method to call before uploading an image to AODocs. The images are visible to the users who can access the library and if present the document.",
                "operationId": "domain:v1beta1.Image.initiateUpload",
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "query",
                        "description": "The ID of the library into which the image will be uploaded",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "documentId",
                        "in": "query",
                        "description": "The ID of a document to filter which users can see the image: only users who can see this document will be able to see the image",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "The name of the file to be uploaded",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiImageUploadParameters response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiImageUploadParameters"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/domain/v1beta1/licensedUsers": {
            "get": {
                "tags": [
                    "domain"
                ],
                "description": "Lists the licensed users of the domain.",
                "operationId": "domain:v1beta1.LicensedUsers.list",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "The status of licenses to search for. (Possible values: ACTIVE, EXPIRED, OVER_DOMAIN_LIMIT. Default: ACTIVE)",
                        "schema": {
                            "type": "string",
                            "default": "ACTIVE",
                            "enum": [
                                "ACTIVE",
                                "EXPIRED",
                                "OVER_DOMAIN_LIMIT"
                            ]
                        }
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "The pattern to look for (substring)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of licensed users per page. (Default: 50)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 50
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "The attribute ('email', 'name', 'lastLogin' or 'lastActivity') used to sort the licensed users and the order ('asc' or 'desc'), e.g. 'lastActivity desc'",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "nextPageToken",
                        "in": "query",
                        "description": "DEPRECATED. Use pageToken instead.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageToken",
                        "in": "query",
                        "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiLicensedUserList response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLicensedUserList"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/domain/v1beta1/licensedUsers/batchAllocate": {
            "put": {
                "tags": [
                    "domain"
                ],
                "description": "Pre-allocates licenses to user",
                "operationId": "domain:v1beta1.LicensedUsers.batchAllocate",
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiEmailList"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A ApiLicenseAllocationResult response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLicenseAllocationResult"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiEmailList"
            }
        },
        "/domain/v1beta1/licensedUsers/batchDelete": {
            "post": {
                "tags": [
                    "domain"
                ],
                "description": "Deletes licensed user(s) from the domain.",
                "operationId": "domain:v1beta1.LicensedUsers.batchDelete",
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiEmailList"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A ApiLicenseRevocationResult response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLicenseRevocationResult"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiEmailList"
            }
        },
        "/domain/v1beta1/licensedUsers/{userId}": {
            "get": {
                "tags": [
                    "domain"
                ],
                "description": "Gets a licensed user of the domain by email.",
                "operationId": "domain:v1beta1.LicensedUsers.get",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The email of the user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiLicensedUser response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLicensedUser"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "domain"
                ],
                "description": "Pre-allocates licenses to user",
                "operationId": "domain:v1beta1.LicensedUsers.allocate",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The email of the user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiLicensedUser response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiLicensedUser"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "domain"
                ],
                "description": "Deletes licensed user(s) from the domain.",
                "operationId": "domain:v1beta1.LicensedUsers.delete",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The email of the user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "A successful response",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/domain/v1beta1/roles": {
            "get": {
                "tags": [
                    "domain"
                ],
                "description": "Lists the domain roles.",
                "operationId": "domain:v1beta1.Roles.list",
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiDomainRoleList response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiDomainRoleList"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "domain"
                ],
                "description": "Creates a new domain role.",
                "operationId": "domain:v1beta1.Roles.create",
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiDomainRole"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A ApiDomainRole response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiDomainRole"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiDomainRole"
            }
        },
        "/domain/v1beta1/roles/{roleId}": {
            "get": {
                "tags": [
                    "domain"
                ],
                "description": "Gets a domain role.",
                "operationId": "domain:v1beta1.Roles.get",
                "parameters": [
                    {
                        "name": "roleId",
                        "in": "path",
                        "description": "The ID of the role",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiDomainRole response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiDomainRole"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "domain"
                ],
                "description": "Deletes a domain role.",
                "operationId": "domain:v1beta1.Roles.delete",
                "parameters": [
                    {
                        "name": "roleId",
                        "in": "path",
                        "description": "The ID of the role",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "A successful response",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "domain"
                ],
                "description": "Updates a domain role (keep existing values for not specified fields).",
                "operationId": "domain:v1beta1.Roles.patch",
                "parameters": [
                    {
                        "name": "roleId",
                        "in": "path",
                        "description": "The ID of the role",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiDomainRole"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A ApiDomainRole response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiDomainRole"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiDomainRole"
            }
        },
        "/domain/v1beta1/securityCodes": {
            "get": {
                "tags": [
                    "domain"
                ],
                "description": "Lists the security codes of the domain.",
                "operationId": "domain:v1beta1.SecurityCodes.list",
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiSecurityCodeList response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiSecurityCodeList"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "domain"
                ],
                "description": "Creates a security code on the domain.",
                "operationId": "domain:v1beta1.SecurityCodes.create",
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiSecurityCode"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A ApiSecurityCode response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiSecurityCode"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiSecurityCode"
            }
        },
        "/domain/v1beta1/securityCodes/{securityCode}": {
            "delete": {
                "tags": [
                    "domain"
                ],
                "description": "Deletes a security code from the domain.",
                "operationId": "domain:v1beta1.SecurityCodes.delete",
                "parameters": [
                    {
                        "name": "securityCode",
                        "in": "path",
                        "description": "The security code to delete",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "A successful response",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "domain"
                ],
                "description": "Updates a security code on the domain.",
                "operationId": "domain:v1beta1.SecurityCodes.patch",
                "parameters": [
                    {
                        "name": "securityCode",
                        "in": "path",
                        "description": "The security code to update",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiSecurityCode"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A ApiSecurityCode response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiSecurityCode"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiSecurityCode"
            }
        },
        "/domain/v1beta1/standardActions": {
            "get": {
                "tags": [
                    "domain"
                ],
                "description": "Gets the list of available standard actions for the current domain (Coming soon! This method isn't yet available. It will be made available in a future release).",
                "operationId": "domain:v1beta1.StandardActions.listAllInCurrentDomain",
                "responses": {
                    "200": {
                        "description": "A ApiStandardActionList response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiStandardActionList"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/domain/v1beta1/statistics/{type}": {
            "get": {
                "tags": [
                    "domain"
                ],
                "description": "Lists statistics for a specified entity (domain, storage account or library). The pagination only works for the library statistics.",
                "operationId": "domain:v1beta1.Statistics.list",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "The type of the specified entity ('DOMAIN', 'STORAGE_ACCOUNT' or 'LIBRARY')",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DOMAIN",
                                "STORAGE_ACCOUNT",
                                "LIBRARY"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of entities per page. (Default: 50)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 50
                        }
                    },
                    {
                        "name": "nextPageToken",
                        "in": "query",
                        "description": "DEPRECATED. Use pageToken instead.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageToken",
                        "in": "query",
                        "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiStatisticsList response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiStatisticsList"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/domain/v1beta1/statistics/{type}/{id}": {
            "get": {
                "tags": [
                    "domain"
                ],
                "description": "Gets statistics for a specified entity (domain, storage account or library).",
                "operationId": "domain:v1beta1.Statistics.get",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "The type of the specified entity ('DOMAIN', 'STORAGE_ACCOUNT' or 'LIBRARY')",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DOMAIN",
                                "STORAGE_ACCOUNT",
                                "LIBRARY"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the specified entity",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiStatistics response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiStatistics"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/domain/v1beta1/storageAccounts": {
            "get": {
                "tags": [
                    "domain"
                ],
                "description": "Lists storage accounts.",
                "operationId": "domain:v1beta1.StorageAccount.list",
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiStorageAccountList response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiStorageAccountList"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "domain"
                ],
                "description": "Creates a storage account for the domain.",
                "operationId": "domain:v1beta1.StorageAccount.create",
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiStorageAccount"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A ApiStorageAccount response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiStorageAccount"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiStorageAccount"
            }
        },
        "/domain/v1beta1/storageAccounts/{storageAccount}": {
            "get": {
                "tags": [
                    "domain"
                ],
                "description": "Gets the storage account by email.",
                "operationId": "domain:v1beta1.StorageAccount.get",
                "parameters": [
                    {
                        "name": "storageAccount",
                        "in": "path",
                        "description": "The email of the storage account",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiStorageAccount response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiStorageAccount"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "domain"
                ],
                "description": "Deletes a storage account from the domain.",
                "operationId": "domain:v1beta1.StorageAccount.delete",
                "parameters": [
                    {
                        "name": "storageAccount",
                        "in": "path",
                        "description": "The email of the storage account",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "A successful response",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "domain"
                ],
                "description": "Updates a storage account on the domain.",
                "operationId": "domain:v1beta1.StorageAccount.patch",
                "parameters": [
                    {
                        "name": "storageAccount",
                        "in": "path",
                        "description": "The email of the storage account",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The domain",
                        "schema": {
                            "type": "string"
                        }
                    }
[...]
