{
    "openapi": "3.0.1",
    "info": {
        "title": "AODocs REST API",
        "description": "The AODocs REST API exposes most of the features of AODocs. It can be used to implement custom applications, third-party integration, bulk tools, or just to experiment with AODocs.",
        "version": "68.1.0"
    },
    "servers": [
        {
            "url": "https://aodocs.altirnao.com/api"
        }
    ],
    "tags": [
        {
            "name": "relation",
            "description": "Lets you list AODocs document relations"
        }
    ],
    "paths": {
        "/relation/v1/document/{documentId}": {
            "get": {
                "tags": [
                    "relation"
                ],
                "description": "Lists all related documents for a document.",
                "operationId": "relation:v1beta1.Relation.getAllRelatedDocuments",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "customRender",
                        "in": "query",
                        "description": "Whether the response contains custom titles. (Default: false)",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lightMode",
                        "in": "query",
                        "description": "Whether the response contains a light view of the documents. (Default: false)",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiRelatedDocumentMap response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiRelatedDocumentMap"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "relation"
                ],
                "description": "Updates related documents for a document.",
                "operationId": "relation:v1beta1.Relation.patchRelations",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiRelatedDocumentMap"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "A successful response",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiRelatedDocumentMap"
            }
        },
        "/relation/v1/libraries/{libraryId}/relations/{relationId}/documents/{documentId}": {
            "get": {
                "tags": [
                    "relation"
                ],
                "description": "Lists all related documents for a document and a relation.",
                "operationId": "relation:v1beta1.Relation.loadRelatedDocuments",
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "path",
                        "description": "The ID of the library",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "relationId",
                        "in": "path",
                        "description": "The ID of the relation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "side",
                        "in": "query",
                        "description": "The side of the relation. (Default: FETCH_BOTH_SIDE)",
                        "schema": {
                            "type": "string",
                            "default": "FETCH_BOTH_SIDE",
                            "enum": [
                                "FETCH_FROM_SIDE",
                                "FETCH_TO_SIDE",
                                "FETCH_BOTH_SIDE"
                            ]
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiRelatedDocumentList response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiRelatedDocumentList"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/relation/v1/relations/{relationId}/side/{side}/documents": {
            "get": {
                "tags": [
                    "relation"
                ],
                "description": "Lists all documents that can be linked for a relation.",
                "operationId": "relation:v1beta1.Relation.getAllConnectableDocumentsToRelation",
                "parameters": [
                    {
                        "name": "relationId",
                        "in": "path",
                        "description": "The ID of the relation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "side",
                        "in": "path",
                        "description": "The side of the relation",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "FROM",
                                "TO"
                            ]
                        }
                    },
                    {
                        "name": "searchQuery",
                        "in": "query",
                        "description": "The search query with free text or a combination of properties name and value separated by an operator. Example: \"Preferred Reseller\":amazon",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiConnectableDocuments response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiConnectableDocuments"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/relation/v1/relations/{relationId}/side/{side}/documents/{documentId}": {
            "get": {
                "tags": [
                    "relation"
                ],
                "description": "Lists all documents that can be linked to a document for a relation.",
                "operationId": "relation:v1beta1.Relation.getConnectableDocuments",
                "parameters": [
                    {
                        "name": "relationId",
                        "in": "path",
                        "description": "The ID of the relation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "side",
                        "in": "path",
                        "description": "The side of the relation",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "FROM",
                                "TO"
                            ]
                        }
                    },
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "searchQuery",
                        "in": "query",
                        "description": "The search query with free text or a combination of properties name and value separated by an operator. Example: \"Preferred Reseller\":amazon",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiConnectableDocuments response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiConnectableDocuments"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/relation/v1beta1/document/{documentId}/relation/{relationId}": {
            "get": {
                "tags": [
                    "relation"
                ],
                "description": "Lists all related documents for a document.",
                "operationId": "relation:v1beta1.Relation.getRelatedDocuments",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "The ID of the document",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "relationId",
                        "in": "path",
                        "description": "The ID of the relation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "customRender",
                        "in": "query",
                        "description": "Whether the response contains custom titles. (Default: false)",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiRelationSides response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiRelationSides"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            }
        },
        "/relation/v1beta1/relationDefinitions": {
            "get": {
                "tags": [
                    "relation"
                ],
                "description": "Lists relation definitions for a library or a document class.",
                "operationId": "relation:v1beta1.RelationDefinitions.list",
                "parameters": [
                    {
                        "name": "libraryId",
                        "in": "query",
                        "description": "The ID of the library",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "classId",
                        "in": "query",
                        "description": "The ID of the document class",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "side",
                        "in": "query",
                        "description": "The side of the relation definition",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "LEFT",
                                "RIGHT"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of relation definitions per page. (Default: 50)",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 50
                        }
                    },
                    {
                        "name": "nextPageToken",
                        "in": "query",
                        "description": "DEPRECATED. Use pageToken instead.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageToken",
                        "in": "query",
                        "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiRelationDefinitionList response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiRelationDefinitionList"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "relation"
                ],
                "description": "Creates a relation definition.",
                "operationId": "relation:v1beta1.RelationDefinitions.create",
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiRelationDefinition"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A ApiRelationDefinition response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiRelationDefinition"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiRelationDefinition"
            }
        },
        "/relation/v1beta1/relationDefinitions/{relationDefinitionId}": {
            "get": {
                "tags": [
                    "relation"
                ],
                "description": "Gets a relation definition by id.",
                "operationId": "relation:v1beta1.RelationDefinitions.get",
                "parameters": [
                    {
                        "name": "relationDefinitionId",
                        "in": "path",
                        "description": "The ID of the relation definition",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ApiRelationDefinition response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiRelationDefinition"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "relation"
                ],
                "description": "Deletes a relation definition by id.",
                "operationId": "relation:v1beta1.RelationDefinitions.delete",
                "parameters": [
                    {
                        "name": "relationDefinitionId",
                        "in": "path",
                        "description": "The ID of the relation definition",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "A successful response",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "relation"
                ],
                "description": "Updates a relation definition with patch semantics.",
                "operationId": "relation:v1beta1.RelationDefinitions.patch",
                "parameters": [
                    {
                        "name": "relationDefinitionId",
                        "in": "path",
                        "description": "The ID of the relation definition",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "The G Suite domain",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "securityCode",
                        "in": "query",
                        "description": "The security code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiRelationDefinition"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A ApiRelationDefinition response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiRelationDefinition"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "google_id_token-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    },
                    {
                        "google_id_token_legacy-b97bae5e": [
                            "https://www.googleapis.com/auth/userinfo.email"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "ApiRelationDefinition"
            }
        }
    },
    "components": {
        "schemas": {
            "ApiAclEntry": {
                "type": "object",
                "properties": {
                    "allow": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "for": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "kind": {
                        "type": "string"
                    }
                }
            },
            "ApiAttachment": {
                "type": "object",
                "properties": {
                    "autodeskUrn": {
                        "$ref": "#/components/schemas/ApiAutodeskUrn"
                    },
                    "fileId": {
                        "type": "string",
                        "description": "The ID the file in Drive"
                    },
                    "iconLink": {
                        "type": "string",
                        "description": "The URL of the icon of the file"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "link": {
                        "type": "string",
                        "description": "The URL to the file in Drive (read-only)"
                    },
                    "mimeType": {
                        "type": "string",
                        "description": "The MIME type of the file"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name (title) of the file"
                    },
                    "permissionsOnDrive": {
                        "type": "array",
                        "description": "The list of permissions set in Drive for the file",
                        "items": {
                            "$ref": "#/components/schemas/ApiDrivePermission"
                        }
                    },
                    "publishedLink": {
                        "type": "string",
                        "description": "The URL of the file when published"
                    },
                    "resourceKey": {
                        "type": "string",
                        "description": "A file that is shared with the link may only be discovered with this resourceKey"
                    },
                    "revisionId": {
                        "type": "string",
                        "description": "The ID of the revision of the file in Drive"
                    },
                    "size": {
                        "type": "integer",
                        "description": "The size (in octet) of the file",
                        "format": "int64"
                    },
                    "storageLocation": {
                        "type": "string",
                        "description": "The storage location of the file. Possible values are 'DRIVE' and 'OSS' (read-only)",
                        "enum": [
                            "DRIVE",
                            "OSS"
                        ]
                    }
                }
            },
            "ApiAttachmentMetadata": {
                "type": "object",
                "properties": {
                    "drive": {
                        "$ref": "#/components/schemas/ApiDriveAttachmentMetadata"
                    },
                    "id": {
                        "type": "string",
                        "description": "The ID the file as used on the storage type"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "mimeType": {
                        "type": "string",
                        "description": "The MIME type of the file"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name (title) of the file"
                    },
                    "oss": {
                        "$ref": "#/components/schemas/ApiOssAttachmentMetadata"
                    },
                    "size": {
                        "type": "integer",
                        "description": "The size (in octet) of the file",
                        "format": "int64"
                    },
                    "storageType": {
                        "type": "string",
                        "description": "Where is the file stored? Either DRIVE (Google Drive), or OSS (AODocs Object Storage System)",
                        "enum": [
                            "OSS",
                            "DRIVE"
                        ]
                    }
                }
            },
            "ApiAutodeskUrn": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "enum": [
                            "READY",
                            "IN_PROGRESS",
                            "FAILED"
                        ]
                    },
                    "urn": {
                        "type": "string"
                    }
                }
            },
            "ApiBaseField": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "The ID of the field"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the field"
                    },
                    "name_i18n": {
                        "type": "string",
                        "description": "The internationalized name of the field (read-only field)"
                    },
                    "system": {
                        "type": "boolean",
                        "description": "Indicates whether this field is a system field or not (read-only field)"
                    }
                }
            },
            "ApiBaseUserProfile": {
                "type": "object",
                "properties": {
                    "email": {
                        "type": "string",
                        "description": "The email of the user"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string",
                        "description": "The displayed name of the user"
                    },
                    "nonGoogle": {
                        "type": "boolean",
                        "description": "This user is not a google user"
                    },
                    "thumbnailPictureUrl": {
                        "type": "string",
                        "description": "The URL of the thumbnail picture of the user"
                    }
                }
            },
            "ApiCalculatedSettingsInfo": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "boolean",
                        "description": "Indicates whether the evaluation of the setting terminated on error (read-only)"
                    },
                    "errorMessage": {
                        "type": "string",
                        "description": "If the evaluation terminated on error, indicates the error message (read-only)"
                    }
                }
            },
            "ApiCategory": {
                "type": "object",
                "properties": {
                    "calculatedSettingsInfo": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/ApiCalculatedSettingsInfo"
                        },
                        "description": "Information about the result of evaluation of calculated settings (read-only)"
                    },
                    "calculatedValueInfo": {
                        "$ref": "#/components/schemas/ApiFieldValuesInfo"
                    },
                    "categoryDefinition": {
                        "$ref": "#/components/schemas/ApiCategoryDefinition"
                    },
                    "definitionId": {
                        "type": "string",
                        "description": "(Deprecated) The ID of the category"
                    },
                    "definitionName": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string",
                        "description": "The description of the field (read-only)"
                    },
                    "description_i18n": {
                        "type": "string",
                        "description": "The internationalized description of the field (read-only)"
                    },
                    "dynamicValues": {
                        "type": "boolean"
                    },
                    "editable": {
                        "type": "boolean",
                        "description": "Whether the field is editable by the current user"
                    },
                    "fieldId": {
                        "type": "string",
                        "description": "The ID of the field"
                    },
                    "fieldName": {
                        "type": "string",
                        "description": "The name of the field"
                    },
                    "fieldName_i18n": {
                        "type": "string",
                        "description": "The internationalized name of the field (read-only)"
                    },
                    "folder": {
                        "type": "boolean"
                    },
                    "hidden": {
                        "type": "boolean",
                        "description": "Whether the field is hidden to the user user"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "levelNames": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "mandatory": {
                        "type": "boolean",
                        "description": "Whether the field is mandatory"
                    },
                    "multiple": {
                        "type": "boolean",
                        "description": "Whether there can be multiple values"
                    },
                    "placeholderText": {
                        "type": "string",
                        "description": "The help text to display in the field input (read-only)"
                    },
                    "rank": {
                        "type": "integer",
                        "description": "The rank at which the field is displayed in the document page (read-only)",
                        "format": "int32"
                    },
                    "readOnly": {
                        "type": "boolean",
                        "description": "Whether the field is currently read-only"
                    },
                    "type": {
                        "type": "string",
                        "description": "The field type (STRING, DATE, ..., CATEGORY, REFERENCE_CATALOG)",
                        "enum": [
                            "STRING",
                            "TEXT",
                            "DATE",
                            "TIME",
                            "DATETIME",
                            "INTEGER",
                            "FILESIZE",
                            "DECIMAL",
                            "BOOLEAN",
                            "PERSON",
                            "CATEGORY",
                            "GEOPOINT",
                            "URL",
                            "REFERENCE_CATALOG",
                            "MIMETYPEGROUP",
                            "CLASS",
                            "FOLDER",
                            "STATE",
                            "OSS_ATTACHMENT",
                            "DRIVE_ATTACHMENT",
                            "TABLE"
                        ]
                    },
                    "validation": {
                        "$ref": "#/components/schemas/ApiFieldValidation"
                    },
                    "values": {
                        "type": "array",
                        "description": "The list of category values",
                        "items": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/ApiCategoryValue"
                            }
                        }
                    }
                }
            },
            "ApiCategoryDefinition": {
                "type": "object",
                "properties": {
                    "description": {
                        "type": "string",
                        "description": "The description of the category"
                    },
                    "dynamicValues": {
                        "type": "boolean",
                        "description": "Whether the category authorizes dynamic values"
                    },
                    "folder": {
                        "type": "boolean",
                        "description": "Whether the category is the Folder category (read-only)"
                    },
                    "id": {
                        "type": "string",
                        "description": "The ID of the category"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "levelNames": {
                        "type": "array",
                        "description": "The name of the levels in the category",
                        "items": {
                            "type": "string"
                        }
                    },
                    "levelNames_i18n": {
                        "type": "array",
                        "description": "The internationalized name of the levels in the category (read-only field)",
                        "items": {
                            "type": "string"
                        }
                    },
                    "libraryId": {
                        "type": "string",
                        "description": "The ID of the library"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the category"
                    },
                    "tags": {
                        "type": "boolean",
                        "description": "Whether the category is the Tags category (read-only)"
                    },
                    "value": {
                        "type": "string",
                        "description": "The ID of the category (backward compatibility for category.category.listCategoryDefinitions)"
                    }
                }
            },
            "ApiCategoryValue": {
                "type": "object",
                "properties": {
                    "ancestors": {
                        "type": "array",
                        "description": "Ancestor category values from direct parent to root - only present with loadCategoryValue",
                        "items": {
                            "$ref": "#/components/schemas/ApiCategoryValue"
                        }
                    },
                    "id": {
                        "type": "string",
                        "description": "The ID of the category value"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "leaf": {
                        "type": "boolean",
                        "description": "Whether the category value is leaf"
                    },
                    "leafInNotOutdatedTree": {
                        "type": "boolean",
                        "description": "Whether the category value is leaf without not outdated child"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the category value"
                    },
                    "name_i18n": {
                        "type": "string",
                        "description": "The internationalized name of the category value (read-only field)"
                    },
                    "outdated": {
                        "type": "boolean",
                        "description": "Whether the category value is marked as outdated"
                    },
                    "parentId": {
                        "type": "string",
                        "description": "The ID of the parent category value (read-only field)"
                    },
                    "shortName": {
                        "type": "string",
                        "description": "The short name of the category value"
                    },
                    "value": {
                        "type": "string",
                        "description": "(Deprecated) The ID of the category value"
                    }
                }
            },
            "ApiConnectableDocuments": {
                "type": "object",
                "properties": {
                    "documents": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiDocument"
                        }
                    },
                    "kind": {
                        "type": "string"
                    }
                }
            },
            "ApiCustomAction": {
                "type": "object",
                "properties": {
                    "event": {
                        "type": "string",
                        "description": "The type of event (in workflow transitions: ON_STATE_ENTER_BEFORE_TRANSITION, ON_ENTER_STATE_AFTER_TRANSITION, ON_LEAVE_STATE_BEFORE_TRANSITION or ON_STATE_LEAVE_AFTER_TRANSITION, in relations: ON_RELATION_FILTER or ON_RELATION_RENDER, in classes: ON_DOCUMENT_UPDATE or ON_DOCUMENT_DISPLAY)",
                        "enum": [
                            "ON_STATE_ENTER_BEFORE_TRANSITION",
                            "ON_STATE_ENTER_AFTER_TRANSITION",
                            "ON_STATE_LEAVE_BEFORE_TRANSITION",
                            "ON_STATE_LEAVE_AFTER_TRANSITION",
                            "ON_RELATION_FILTER",
                            "ON_RELATION_RENDER",
                            "ON_DOCUMENT_DISPLAY",
                            "ON_DOCUMENT_UPDATE"
                        ]
                    },
                    "id": {
                        "type": "string",
                        "description": "The id of the action (read-only)"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the action"
                    },
                    "params": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "The map key/value of the parameters"
                    },
                    "scriptId": {
                        "type": "string",
                        "description": "The ID of the custom script"
                    },
                    "scriptName": {
                        "type": "string",
                        "description": "The name of the custom script (read-only field)"
                    }
                }
            },
            "ApiCustomRelatedDocumentTitle": {
                "type": "object",
                "properties": {
                    "customHtmlTitle": {
                        "type": "string"
                    },
                    "id": {
                        "type": "string"
                    },
                    "kind": {
                        "type": "string"
                    }
                }
            },
            "ApiDocument": {
                "type": "object",
                "properties": {
                    "acl": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiAclEntry"
                        }
                    },
                    "attachmentFields": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiField"
                        }
                    },
                    "attachments": {
                        "type": "array",
                        "description": "The list of attachments",
                        "items": {
                            "$ref": "#/components/schemas/ApiAttachment"
                        }
                    },
                    "attachmentsToCopy": {
                        "type": "array",
                        "description": "The list of attachments to copy (for create/patch)",
                        "items": {
                            "$ref": "#/components/schemas/ApiAttachment"
                        }
                    },
                    "categories": {
                        "type": "array",
                        "description": "The list of category fields (only the values are editable)",
                        "items": {
                            "$ref": "#/components/schemas/ApiCategory"
                        }
                    },
                    "checkOutBy": {
                        "type": "string",
                        "description": "The email of the user who checked-out the document (read-only field)"
                    },
                    "checkoutDate": {
                        "type": "string",
                        "description": "The time at which the document was checked-out (read-only field)"
                    },
                    "classId": {
                        "type": "string",
                        "description": "The ID of the class of the document (read-only field)"
                    },
                    "className": {
                        "type": "string",
                        "description": "The name of the class of the document (read-only field)"
                    },
                    "className_i18n": {
                        "type": "string",
                        "description": "The internationalized name of the class of the document (read-only field)"
                    },
                    "coordinate": {
                        "type": "string",
                        "description": "The coordinate of the sequence for the document (<librarySequenceId>.<documentClassSequenceId>.<documentSequenceId>[.<versionSequenceId>]) (read-only field)"
                    },
                    "creationDate": {
                        "type": "string",
                        "description": "The time at which the document was created (read-only field)"
                    },
                    "deleteAuthor": {
                        "type": "string",
                        "description": "The email of the user who deleted the document (read-only field)"
                    },
                    "deleted": {
                        "type": "boolean",
                        "description": "Whether the document is deleted (read-only field)"
                    },
                    "deletedReason": {
                        "type": "string",
                        "description": "The reason for deleting the document (read-only field)"
                    },
                    "deletionDate": {
                        "type": "string",
                        "description": "The time at which the document was deleted (read-only field)"
                    },
                    "domainName": {
                        "type": "string",
                        "description": "The name of the domain (read-only field)"
                    },
                    "driveOnlyPermissions": {
                        "type": "array",
                        "description": "The list of additional permissions configured in Secured Folder libraries",
                        "items": {
                            "$ref": "#/components/schemas/ApiDrivePermission"
                        }
                    },
                    "editable": {
                        "type": "boolean",
                        "description": "Whether the current user can edit the document (read-only field)"
                    },
                    "evaluationError": {
                        "type": "boolean",
                        "description": "Whether there is an evaluation error on at least one field of the document (read-only field)"
                    },
                    "fields": {
                        "type": "array",
                        "description": "The list of native fields (values and metadata are editable)",
                        "items": {
                            "$ref": "#/components/schemas/ApiField"
                        }
                    },
                    "folders": {
                        "type": "array",
                        "description": "The location of the document (folder path as list of folders)",
                        "items": {
                            "$ref": "#/components/schemas/ApiFolder"
                        }
                    },
                    "forbiddenOperations": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/ApiForbidReason"
                            }
                        },
                        "description": "The map of the forbidden operations to the current user and the reasons why they are forbidden (read-only field)"
                    },
                    "fullSizeOfAttachments": {
                        "type": "integer",
                        "description": "The summed size (in octet) of the attachments (read-only field)",
                        "format": "int64"
                    },
                    "iconLink": {
                        "type": "string",
                        "description": "The link to the icon relative to the attachment (read-only field)"
                    },
                    "id": {
                        "type": "string",
                        "description": "The ID of the document (read-only field)"
                    },
                    "incomplete": {
                        "type": "boolean",
                        "description": "Whether there are missing mandatory fields on the document (read-only field)"
                    },
                    "initialAuthor": {
                        "type": "string",
                        "description": "The email of the user who created the document (read-only field)"
                    },
                    "invalidValues": {
                        "type": "boolean",
                        "description": "Whether there are invalid values for fields of the document (read-only field)"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "libraryId": {
                        "type": "string",
                        "description": "The ID of the library (read-only field)"
                    },
                    "libraryName": {
                        "type": "string",
                        "description": "The name of the library (read-only field)"
                    },
                    "modificationDate": {
                        "type": "string",
                        "description": "The time at which the document was last modified (read-only field after document creation)"
                    },
                    "newPermissions": {
                        "type": "array",
                        "description": "The new permissions to apply",
                        "items": {
                            "$ref": "#/components/schemas/ApiDrivePermission"
                        }
                    },
                    "nextVersionName": {
                        "type": "string",
                        "description": "The next version name (read-only field)"
                    },
                    "numberOfAttachments": {
                        "type": "integer",
                        "description": "The number of attachments in the document (read-only field)",
                        "format": "int32"
                    },
                    "onlyAdminCanChangeAcl": {
                        "type": "boolean",
                        "description": "Whether only administrators can modify the permissions of the document"
                    },
                    "onlyAdminCanDelete": {
                        "type": "boolean",
                        "description": "Whether only administrators can be delete the document"
                    },
                    "originalVersionId": {
                        "type": "string",
                        "description": "Id of the original version if this version was created by restoring a previous version, otherwise null"
                    },
                    "permissions": {
                        "type": "array",
                        "description": "The list of permissions relative to the document",
                        "items": {
                            "$ref": "#/components/schemas/ApiPermission"
                        }
                    },
                    "permittedOperations": {
                        "type": "array",
                        "description": "The list of permitted operations to the current user (read-only field)",
                        "items": {
                            "type": "string",
                            "enum": [
                                "DELETE",
                                "RENAME",
                                "MODIFY_ACL",
                                "VIEW_ACL",
                                "MOVE_TO_ANOTHER_FOLDER",
                                "EXPORT",
                                "EDIT_PROPERTIES",
                                "COPY",
                                "CREATE_COPY_FROM",
                                "EXPORT_COPY",
                                "CREATE_NEW_VERSION",
                                "ATTACHMENT_VERSION_REPLACE",
                                "ATTACHMENT_VERSION_CREATE",
                                "ADD_NEW_ATTACHMENT_FROM_DRIVE",
                                "ATTACH_ENCRYPTED_FILE",
                                "OPEN_IN_OFFICE",
                                "PUBLISH",
                                "UNPUBLISH",
                                "RESTORE_REVISION",
                                "REVERT_TO_THIS_REVISION",
                                "CREATE_RELATED_DOCUMENT",
                                "DOWNLOAD",
                                "DOWNLOAD_ATTACHMENT",
                                "NOTIFY_USERS",
                                "CHECK_IN",
                                "CHECK_OUT",
                                "DISCARD_CHECKOUT",
                                "FORCE_DISCARD_CHECKOUT",
                                "EDIT_TAGS",
                                "PERFORM_HUMAN_WORKFLOW_ACTIONS",
                                "VIEW_DRAFT",
                                "SHARE_PUBLICLY",
                                "VIEW_HISTORY",
                                "VIEW_VERSIONS",
                                "ADD_COMMENT",
                                "SET_TEMPLATE_AS_DEFAULT",
                                "SET_TEMPLATE_VISIBILITY_SCOPE",
                                "DELETE_COMMENT",
                                "KNOW_DRAFT",
                                "FORCE_PARALLEL_TRANSITION",
                                "CHANGE_WORKFLOW_STATE_DIRECTLY",
                                "SEE_HIDDEN_FIELDS",
                                "VIEW_TRASHED_ITEM",
                                "UNTRASH",
                                "PERMANENTLY_DELETE",
                                "VIEW_DRIVEONLY_ACL",
                                "MODIFY_DRIVEONLY_ACL",
                                "NON_GOOGLE_USERS_SUPPORT",
                                "SUPPORTS_LIVE_EVALUATION",
                                "ALLOWLIST_NOT_ENFORCED",
                                "CREATE_SUBFOLDER",
                                "CREATE_DOCUMENT_IN_THIS_FOLDER",
                                "IMPORT_FOLDERS_FROM_DRIVE_TO_THIS_FOLDER",
                                "ADD_NEW_ATTACHMENT_FROM_OSS",
                                "OPEN_IN_DRIVE",
                                "COPY_FOLDER_TREE",
                                "CHECK_FOLDER",
                                "MOVE_TO_DRIVE",
                                "COPY_TO_DRIVE",
                                "MOVE_TO_ANOTHER_LIBRARY",
                                "MOVE_TO_ANOTHER_CLASS",
                                "COPY_TO_ANOTHER_CLASS",
                                "COPY_ATTACHMENT",
                                "COPY_TO_ANOTHER_LIBRARY",
                                "EDIT_ATTACHMENT"
                            ]
                        }
                    },
                    "publishedLink": {
                        "type": "string",
                        "description": "The link of the publication for mono-attachment documents"
                    },
                    "publishedMode": {
                        "type": "string",
                        "description": "The publication mode (NONE, DOMAIN, EVERYONE) for mono-attachment documents",
                        "enum": [
                            "NONE",
                            "DOMAIN",
                            "EVERYONE"
                        ]
                    },
                    "referenceCatalogs": {
                        "type": "array",
                        "description": "The list of reference catalog fields (only the values are editable)",
                        "items": {
                            "$ref": "#/components/schemas/ApiReferenceCatalogField"
                        }
                    },
                    "relatedDocuments": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/ApiRelationSides"
                        },
                        "description": "The map of related documents per relation"
                    },
                    "restrictedDownload": {
                        "type": "boolean",
                        "description": "Whether the flag controlling whether reader users can download, copy or print the document is enabled."
                    },
                    "richText": {
                        "type": "string",
                        "description": "The description of the document"
                    },
                    "sections": {
                        "type": "array",
                        "description": "The sections in which fields are organized (read-only field)",
                        "items": {
                            "$ref": "#/components/schemas/ApiFieldSection"
                        }
                    },
                    "sequenceId": {
                        "type": "integer",
                        "description": "The sequence ID of the document (read-only field)",
                        "format": "int64"
                    },
                    "setModifiedDate": {
                        "type": "boolean",
                        "description": "Whether to set the date of last modification"
                    },
                    "state": {
                        "type": "string",
                        "description": "The name of the workflow state (read-only field)"
                    },
                    "stateChangeAuthors": {
                        "type": "array",
                        "description": "The person(s) who were involved in the last workflow state change (read-only field)",
                        "items": {
                            "$ref": "#/components/schemas/ApiSecurityToken"
                        }
                    },
                    "stateChangeDate": {
                        "type": "string",
                        "description": "The date at which the document last changed of workflow state (read-only field)",
                        "format": "date-time"
                    },
                    "stateId": {
                        "type": "string",
                        "description": "The ID of the workflow state"
                    },
                    "state_i18n": {
                        "type": "string",
                        "description": "The internationalized name of the workflow state (read-only field)"
                    },
                    "systemFields": {
                        "type": "array",
                        "description": "The list of system fields (only the values are editable)",
                        "items": {
                            "$ref": "#/components/schemas/ApiSystemField"
                        }
                    },
                    "tableFields": {
                        "type": "array",
                        "description": "The list of table fields (only the values are editable)",
                        "items": {
                            "$ref": "#/components/schemas/ApiTableField"
                        }
                    },
                    "templateDocumentId": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string",
                        "description": "The title of the document"
                    },
                    "updateAuthor": {
                        "type": "string",
                        "description": "The email of the user who last modified the document (read-only field)"
                    },
                    "userCanChangeAcl": {
                        "type": "boolean",
                        "description": "Whether the current user can modify the permissions (read-only field)"
                    },
                    "userCanChangeProperties": {
                        "type": "boolean",
                        "description": "Whether the current user can modify the properties (read-only field)"
                    },
                    "userCanDelete": {
                        "type": "boolean",
                        "description": "Whether the current user can delete the document (read-only field)"
                    },
                    "userMapping": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/ApiBaseUserProfile"
                        },
                        "description": "The mapping between user email and user profile (read-only field)"
                    },
                    "versionCreated": {
                        "type": "string",
                        "description": "The time at which the version was created (read-only field)",
                        "format": "date-time"
                    },
                    "versionCreator": {
                        "type": "string",
                        "description": "The email of the user who created the version (read-only field)"
                    },
                    "versionDescription": {
                        "type": "string",
                        "description": "The description of the current version of the document"
                    },
                    "versionId": {
                        "type": "string",
                        "description": "The ID of the version (read-only field)"
                    },
                    "versionLabel": {
                        "type": "string",
                        "description": "(Deprecated) The description of the version (replaced by versionDescription)"
                    },
                    "versionName": {
                        "type": "string",
                        "description": "The name of the current version of the document"
                    },
                    "versionNumber": {
                        "type": "string",
                        "description": "(Deprecated) The number of the version (replaced by versionName)"
                    },
                    "viewConfiguration": {
                        "$ref": "#/components/schemas/ApiDocumentViewConfiguration"
                    },
                    "workflowId": {
                        "type": "string",
                        "description": "The ID of the workflow related to the class of the document (read-only field)"
                    }
                }
            },
            "ApiDocumentViewConfiguration": {
                "type": "object",
                "properties": {
                    "defaultTabToDisplay": {
                        "type": "string",
                        "description": "The tab to display when open the document",
                        "enum": [
                            "PROPERTIES",
                            "FIRST_ATTACHMENT"
                        ]
                    },
                    "kind": {
                        "type": "string"
                    },
                    "orientation": {
                        "type": "string",
                        "description": "The orientation to display the document (PORTRAIT or LANDSCAPE)",
                        "enum": [
                            "PORTRAIT",
                            "LANDSCAPE"
                        ]
                    },
                    "visibleRelations": {
                        "type": "array",
                        "description": "The list of ordered relations to display in the Relations section",
                        "items": {
                            "type": "string"
                        }
                    },
                    "visibleSections": {
                        "type": "array",
                        "description": "The list of ordered sections to display",
                        "items": {
                            "type": "string",
                            "enum": [
                                "INFO",
                                "WORKFLOW",
                                "PROPERTIES",
                                "ATTACHMENTS",
                                "RELATIONS",
                                "DESCRIPTION"
                            ]
                        }
                    }
                }
            },
            "ApiDriveAttachmentMetadata": {
                "type": "object",
                "properties": {
                    "iconLink": {
                        "type": "string",
                        "description": "The URL of the icon of the file"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "link": {
                        "type": "string",
                        "description": "The URL to the file in Drive"
                    },
                    "permissionsOnDrive": {
                        "type": "array",
                        "description": "The list of permissions set in Drive for the file",
                        "items": {
                            "$ref": "#/components/schemas/ApiDrivePermission"
                        }
                    },
                    "publishedLink": {
                        "type": "string",
                        "description": "The URL of the file when published"
                    },
                    "resourceKey": {
                        "type": "string",
                        "description": "A file that is shared with the link may only be discovered with this resourceKey"
                    },
                    "revisionId": {
                        "type": "string",
                        "description": "The ID of the revision of the file in Drive"
                    }
                }
            },
            "ApiDrivePermission": {
                "type": "object",
                "properties": {
                    "additionalRoles": {
                        "type": "array",
                        "description": "The additional roles for the permission like COMMENTER",
                        "items": {
                            "type": "string"
                        }
                    },
                    "allowlisted": {
                        "type": "boolean",
                        "description": "Whether the email address is allowlisted (individually or via its domain) in the current domain"
                    },
                    "belongsToDomain": {
                        "type": "boolean",
                        "description": "Whether the email address is part of the current domain"
                    },
                    "email": {
                        "type": "string",
                        "description": "The email of the permission or the domain name if type = DOMAIN"
                    },
                    "googleEmailAddress": {
                        "type": "boolean",
                        "description": "Whether the email address is tied to a Google account"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string",
                        "description": "The displayed name for the permission"
                    },
                    "permissionId": {
                        "type": "string",
                        "description": "The unique ID for the permission in Drive"
                    },
                    "role": {
                        "type": "string",
                        "description": "The role of the permission: READER, WRITER, OWNER"
                    },
                    "thumbnailPhotoUrl": {
                        "type": "string",
                        "description": "The URL of the thumbnail picture of the permitted user or group"
                    },
                    "type": {
                        "type": "string",
                        "description": "The type of permission in Drive: ANYONE, DOMAIN, GROUP, USER"
                    },
                    "withLink": {
                        "type": "boolean",
                        "description": "Whether the permission imposes to have the link to access (vs. can be searched for)"
                    }
                }
            },
            "ApiField": {
                "type": "object",
                "properties": {
                    "calculatedSettingsInfo": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/ApiCalculatedSettingsInfo"
                        },
                        "description": "Information about the result of evaluation of calculated settings (read-only)"
                    },
                    "calculatedValueInfo": {
                        "$ref": "#/components/schemas/ApiFieldValuesInfo"
                    },
                    "description": {
                        "type": "string",
                        "description": "The description of the field (read-only)"
                    },
                    "description_i18n": {
                        "type": "string",
                        "description": "The internationalized description of the field (read-only)"
                    },
                    "editable": {
                        "type": "boolean",
                        "description": "Whether the field is editable by the current user"
                    },
                    "fieldId": {
                        "type": "string",
                        "description": "The ID of the field"
                    },
                    "fieldName": {
                        "type": "string",
                        "description": "The name of the field"
                    },
                    "fieldName_i18n": {
                        "type": "string",
                        "description": "The internationalized name of the field (read-only)"
                    },
                    "hidden": {
                        "type": "boolean",
                        "description": "Whether the field is hidden to the user user"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "mandatory": {
                        "type": "boolean",
                        "description": "Whether the field is mandatory"
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/ApiFieldMetadata"
                    },
                    "multiple": {
                        "type": "boolean",
                        "description": "Whether there can be multiple values"
                    },
                    "placeholderText": {
                        "type": "string",
                        "description": "The help text to display in the field input (read-only)"
                    },
                    "rank": {
                        "type": "integer",
                        "description": "The rank at which the field is displayed in the document page (read-only)",
                        "format": "int32"
                    },
                    "readOnly": {
                        "type": "boolean",
                        "description": "Whether the field is currently read-only"
                    },
                    "type": {
                        "type": "string",
                        "description": "The field type (STRING, DATE, ..., CATEGORY, REFERENCE_CATALOG)",
                        "enum": [
                            "STRING",
                            "TEXT",
                            "DATE",
                            "TIME",
                            "DATETIME",
                            "INTEGER",
                            "FILESIZE",
                            "DECIMAL",
                            "BOOLEAN",
                            "PERSON",
                            "CATEGORY",
                            "GEOPOINT",
                            "URL",
                            "REFERENCE_CATALOG",
                            "MIMETYPEGROUP",
                            "CLASS",
                            "FOLDER",
                            "STATE",
                            "OSS_ATTACHMENT",
                            "DRIVE_ATTACHMENT",
                            "TABLE"
                        ]
                    },
                    "validation": {
                        "$ref": "#/components/schemas/ApiFieldValidation"
                    },
                    "values": {
                        "type": "array",
                        "description": "The list of values for the field",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "ApiFieldDefinition": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "The ID of the field"
                    },
                    "type": {
                        "type": "string",
                        "description": "The type of the field (read-only field)"
                    }
                }
            },
            "ApiFieldMetadata": {
                "type": "object",
                "properties": {
                    "attachments": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiAttachmentMetadata"
                        }
                    },
                    "kind": {
                        "type": "string"
                    }
                }
            },
            "ApiFieldSection": {
                "type": "object",
                "properties": {
                    "columnCount": {
                        "type": "integer",
                        "description": "The number of columns to display fields for this section.",
                        "format": "int32"
                    },
                    "description": {
                        "type": "string",
                        "description": "The description of the section"
                    },
                    "fields": {
                        "type": "array",
                        "description": "The list of fields in the section",
                        "items": {
                            "$ref": "#/components/schemas/ApiFieldDefinition"
                        }
                    },
                    "id": {
                        "type": "string",
                        "description": "The ID of the section (read-only field)"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the section"
                    },
                    "name_i18n": {
                        "type": "string",
                        "description": "The internationalized name of the section (read-only field)"
                    }
                }
            },
            "ApiFieldValidation": {
                "type": "object",
                "properties": {
                    "audience": {
                        "$ref": "#/components/schemas/ApiSecurityToken"
                    },
                    "errorMessage": {
                        "type": "string",
                        "description": "The error message if the value inputted is not valid"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "lowerLimit": {
                        "type": "number",
                        "description": "The lower limit of the range for numerical fields",
                        "format": "double"
                    },
                    "lowerLimitInclusive": {
                        "type": "boolean",
                        "description": "Whether to include the lower limit value in the range"
                    },
                    "mandatoryLeaf": {
                        "type": "boolean",
                        "description": "Whether the leaf selection is required for Category or Reference Catalog fields"
                    },
                    "regex": {
                        "type": "string",
                        "description": "The regular expression for String fields"
                    },
                    "upperLimit": {
                        "type": "number",
                        "description": "The upper limit of the range for numerical fields",
                        "format": "double"
                    },
                    "upperLimitInclusive": {
                        "type": "boolean",
                        "description": "Whether to include the upper limit value in the range"
                    }
                }
            },
            "ApiFieldValuesInfo": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "boolean",
                        "description": "If the field has no value, indicates whether this is due to an evaluation error (read-only)"
                    }
                }
            },
            "ApiFieldWithCapabilities": {
                "type": "object",
                "properties": {
                    "capabilities": {
                        "type": "array",
                        "description": "The list of capabilities for this field (depending of the type)",
                        "items": {
                            "type": "string",
                            "enum": [
                                "DISPLAY",
                                "ORDER_BY",
                                "BROWSE_BY",
                                "FILTER_ON",
                                "PRE_FILTER_ON"
                            ]
                        }
                    },
                    "filterOperators": {
                        "type": "array",
                        "description": "The list of operators available for this field (depending of the type)",
                        "items": {
                            "type": "string",
                            "enum": [
                                "EQUAL",
                                "NOT_EQUAL",
                                "STRICTLY_GREATER_THAN",
                                "STRICTLY_LESSER_THAN",
                                "GREATER_THAN_OR_EQUAL_TO",
                                "LESSER_THAN_OR_EQUAL_TO",
                                "BETWEEN",
                                "EMPTY",
                                "NOT_EMPTY",
                                "WITHIN_THE_AREA",
                                "IN",
                                "NOT_IN"
                            ]
                        }
                    },
                    "hidden": {
                        "type": "boolean",
                        "description": "Whether the field is hidden (at class level)"
                    },
                    "id": {
                        "type": "string",
                        "description": "The ID of the field"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "multiple": {
                        "type": "boolean",
                        "description": "Whether the field is multi-valued"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the field"
                    },
                    "name_i18n": {
                        "type": "string",
                        "description": "The internationalized name of the field (read-only field)"
                    },
                    "system": {
                        "type": "boolean",
                        "description": "Indicates whether this field is a system field or not (read-only field)"
                    },
                    "type": {
                        "type": "string",
                        "description": "The type of the field (STRING, TEXT, ..., CATEGORY, REFERENCE_CATALOG)",
                        "enum": [
                            "STRING",
                            "TEXT",
                            "DATE",
                            "TIME",
                            "DATETIME",
                            "INTEGER",
                            "FILESIZE",
                            "DECIMAL",
                            "BOOLEAN",
                            "PERSON",
                            "CATEGORY",
                            "GEOPOINT",
                            "URL",
                            "REFERENCE_CATALOG",
                            "MIMETYPEGROUP",
                            "CLASS",
                            "FOLDER",
                            "STATE",
                            "OSS_ATTACHMENT",
                            "DRIVE_ATTACHMENT",
                            "TABLE"
                        ]
                    }
                }
            },
            "ApiFolder": {
                "type": "object",
                "properties": {
                    "editable": {
                        "type": "boolean",
                        "description": "Whether the folder is editable by the current user (read-only field)"
                    },
                    "editableDocuments": {
                        "type": "boolean",
                        "description": "Whether the documents in the folder are editable by the current user (read-only field)"
                    },
                    "fileId": {
                        "type": "string",
                        "description": "The ID of the folder in Drive"
                    },
                    "folderAodocsId": {
                        "type": "string",
                        "description": "The ID of the folder in AODocs model (0 if root folder)"
                    },
                    "folderDefinitionId": {
                        "type": "string",
                        "description": "(Deprecated) The ID of the folder configuration"
                    },
                    "folderIsRoot": {
                        "type": "boolean",
                        "description": "Whether the folder is the root folder (read-only field)"
                    },
                    "kind": {
                        "type": "string"
                    },
                    "libraryId": {
                        "type": "string",
                        "description": "The ID of the library"
                    },
                    "libraryName": {
                        "type": "string",
                        "description": "The name of the library"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the folder"
                    },
                    "parentFolderAodocsId": {
                        "type": "string",
                        "description": "The ID of the parent folder in AODocs model (0 if root folder)"
                    },
                    "parentFolderDriveId": {
                        "type": "string",
                        "description": "The ID of the parent folder in Drive"
                    },
                    "parentFolderIsRoot": {
                        "type": "boolean",
                        "description": "Whether the parent folder is the root folder (read-only field)"
                    },
                    "permittedOperations": {
                        "type": "array",
                        "description": "The list of permitted operations to the current user (read-only field)",
                        "items": {
                            "type": "string",
                            "enum": [
                                "DELETE",
                                "RENAME",
                                "MODIFY_ACL",
                                "VIEW_ACL",
                                "MOVE_TO_ANOTHER_FOLDER",
                                "EXPORT",
                                "EDIT_PROPERTIES",
                                "COPY",
                                "CREATE_COPY_FROM",
                                "EXPORT_COPY",
                                "CREATE_NEW_VERSION",
                                "ATTACHMENT_VERSION_REPLACE",
                                "ATTACHMENT_VERSION_CREATE",
                                "ADD_NEW_ATTACHMENT_FROM_DRIVE",
                                "ATTACH_ENCRYPTED_FILE",
                                "OPEN_IN_OFFICE",
                                "PUBLISH",
                                "UNPUBLISH",
                                "RESTORE_REVISION",
                                "REVERT_TO_THIS_REVISION",
                                "CREATE_RELATED_DOCUMENT",
                                "DOWNLOAD",
                                "DOWNLOAD_ATTACHMENT",
                                "NOTIFY_USERS",
                                "CHECK_IN",
                                "CHECK_OUT",
                                "DISCARD_CHECKOUT",
                                "FORCE_DISCARD_CHECKOUT",
                                "EDIT_TAGS",
                                "PERFORM_HUMAN_WORKFLOW_ACTIONS",
                                "VIEW_DRAFT",
                                "SHARE_PUBLICLY",
                                "VIEW_HISTORY",
                                "VIEW_VERSIONS",
                                "ADD_COMMENT",
                                "SET_TEMPLATE_AS_DEFAULT",
                                "SET_TEMPLATE_VISIBILITY_SCOPE",
                                "DELETE_COMMENT",
                                "KNOW_DRAFT",
                                "FORCE_PARALLEL_TRANSITION",
                                "CHANGE_WORKFLOW_STATE_DIRECTLY",
                                "SEE_HIDDEN_FIELDS",
                                "VIEW_TRASHED_ITEM",
                                "UNTRASH",
                                "PERMANENTLY_DELETE",
                                "VIEW_DRIVEONLY_ACL",
                                "MODIFY_DRIVEONLY_ACL",
                                "NON_GOOGLE_USERS_SUPPORT",
                                "SUPPORTS_LIVE_EVALUATION",
                                "ALLOWLIST_NOT_ENFORCED",
                                "CREATE_SUBFOLDER",
                                "CREATE_DOCUMENT_IN_THIS_FOLDER",
                                "IMPORT_FOLDERS_FROM_DRIVE_TO_THIS_FOLDER",
[...]
